@model Watson.ViewModels.GroupHealthGrpHEnrollmentVM

<h2>emp-Health Insurance Premiums</h2>
<h5>emp- Medical (includes 15K Life Insurance)</h5>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" value="@ViewBag.Employee_id" />
    <input type="hidden" id="FamilyMember_id" class="form-control" name="FamilyMember_id" value="@ViewBag.FamilyMember_id" />
    <input type="hidden" id="GroupHealthInsurance_id" class="form-control" name="GroupHealthInsurance_id" value="@ViewBag.GroupHealthInsurance_id" />
    <input type="hidden" id="OtherInsurance_id" class="form-control" name="OtherInsurance_id" value="@ViewBag.OtherInsurance_id" />
    <p></p>
    <p><embed id="2019InsCost" src="/App_Files/pdfFiles/2019-Insurance-Cost.pdf" type="application/pdf" style="width:100%; height:1122px;" frameborder="0" /></p>
    <p><embed id="2019Dental&VisionBenefits" src="/App_Files/pdfFiles/2019-Guardian-Dental-&-Vision-Benefits.pdf" type="application/pdf" style="width:100%; height:1000px; transform:rotate()" frameborder="0" /></p>
    <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" />
    <div class="form-horizontal" hidden>
        <div class="collapsible" id="FirstStep">emp-Health Insurance Premiums</div>
        <table class="container-fluid table-bordered" id="InsPremTable" cellpadding="20" cellspacing="20">
            <tr>
                <td>
                    <table class="table table-condensed table-hover" width="400" cellpadding="10" cellspacing="10" border="1">
                        <thead class="thead-dark">
                            <tr>
                                <th>Plan</th>
                                <th>Employee Only</th>
                                <th>Employee/Spouse</th>
                                <th>Employee/Child(ren)</th>
                                <th>Employee/Family</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>(MEC Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="MECmonthlyCostEmpOnly" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="MECmonthlyCostEmpSp" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="MECmonthlyCostEmpDep" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="MECmonthlyCostEmpFam" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="MECMnthyearlyPremiumCost" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(MEC Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="MECbiweeklyCostEmpOnly" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="MECbiweeklyCostEmpSp" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="MECbiweeklyCostEmpDep" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="MECbiweeklyCostEmpFam" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="MECBiWkyearlyPremiumCost" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Standard Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="StndmonthlyCostEmpOnly" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="StndmonthlyCostEmpSp" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="StndmonthlyCostEmpDep" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="StndmonthlyCostEmpFam" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="StndMnthyearlyPremiumCost" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Standard Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="StndbiweeklyCostEmpOnly" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="StndbiweeklyCostEmpSp" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="StndbiweeklyCostEmpDep" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="StndbiweeklyCostEmpFam" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="StndBiWkyearlyPremiumCost" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Buy Up Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="BuyUpmonthlyCostEmpOnly" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="BuyUpmonthlyCostEmpSp" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="BuyUpmonthlyCostEmpDep" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="BuyUpmonthlyCostEmpFam" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="BuyUpMnthyearlyPremiumCost" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Buy Up Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="BuyUpbiweeklyCostEmpOnly" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="BuyUpbiweeklyCostEmpSp" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="BuyUpbiweeklyCostEmpDep" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="BuyUpbiweeklyCostEmpAndFam" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="BuyUpBiWkyearlyPremiumCost" value="" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 table-bordered" readonly>
                        These prices are in effect for 01-01-2019 through 12-31-2019<br />
                        <p></p>
                        Estimated costs* for COBRA participants for the 2019 year:<br />
                        <p></p>
                        Employee rate MEC plan $75.00 per month<br />
                        Employee/Family rate MEC plan $230.00 per month<br />
                        --------------------------------------------------<br />
                        Employee rate Premium plan $638.52 per month<br />
                        Employee/Family rate Premium plan $1,518 per month<br />
                        <p></p>
                        *Note: a 2% Adminstration fee will be added to the COBRA rates listed<br />
                    </div>
                    @*<p>
                            <button type="submit" class="btn" id="InsPremiumUpdateStepThree" @*onclick="InsPremiumUpdate()" value="Submit">Save</button>
                        </p>*@
                    <div class="form-group">
                        <div class="col-md-offset-11">
                            <button id="InsPremiumUpdateStepOne" class="btn" @*onclick="return ContactUpdate()"*@>Save</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>
            @Html.ActionLink("Edit Insurance Premium", "", new { Employee_id = @ViewBag.Employee_id }, null)
        </p>
    </div>
    @* db.InsurancePlanDetail- col- Item, Detail - InsurancePlanDetail_id as primary and InsurancePlan_id as foreign *@
    <div class="form-horizontal" hidden>
        <hr />
        <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" />
        <div class="collapsible" id="SecondStep">emp-Health Insurance Supplement</div>
        <table class="container-fluid table-bordered" id="InsSupplementTable" cellpadding="20" cellspacing="20">
            <tr>
                <td>
                    <table class="table table-condensed" width="400" cellpadding="10" cellspacing="10" border="1">
                        <thead class="thead-dark">
                            <tr>
                                <th><u>Dental Cost Analysis</u></th>
                                <th><u>Guardian Dental Plan</u></th>
                                <th></th>
                                <th><u>Vision Cost Analysis</u></th>
                                <th><u>Guardian Vision Plan</u></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Employee Only:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalCostEmpOnly" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee Only:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="VisionCostEmpOnly" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Employee + Spouse:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalCostEmpSp" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee + Spouse:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="VisionCostEmpSp" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Employee + Child(ren):</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalCostEmpDep" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee + Child(ren):</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="VisionCostEmpDep" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Employee + Family:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalCostEmpFam" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee + Family:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="VisionCostEmpFam" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Summary of Dental Benefits:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="SummaryOfDentalBenefits" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Summary of Dental Benefits:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="SummaryOfVisionBenefits" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Calendar Year Deductible:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="CalendarYearDeductible" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Co-pay:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="CoPay" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Waived for Preventive:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="WaivedForPreventive" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Exams:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="Exams" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Annual Maximum:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="AnnualMaximum" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Materials:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="Materials" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Preventive:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="Preventive" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Lenses Single Vision:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="LensesSingleVision" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Basic:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="Basic" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Bifocal:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="BiFocal" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Major:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="Major" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Trifocal:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="TriFocal" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>UCR%:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="UCRpercent" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Lenticular:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="Lenticular" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Endodontics/Peridontics:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="EndoPeridontics" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Contact (medically necessary):</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="ContactsMedicallyNecessary" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Orthodontics:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="Orthodontics" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Contact (elective):</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="ContactsElective" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Orthodontia Lifetime Maximum:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="OrthodontiaLifetimeMax" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Frames:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="Frames" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Waiting Period:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="WaitingPeriod" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Network:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="NetWork" value="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Dental Network:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalNetwork" value="" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Rate Guarantee:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="RateGuarantee" value="" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        **Rates guarantee for 1 year<br />
                        -Subject to maxiumum rollover (Threshold $500; Rollover amount $250)<br />
                        -Basic Life/AD&D: Only those on medical are eligible for basic life & AD&D
                    </p>
                    <div class="form-group">
                        <div class="col-md-offset-11">
                            <button id="InsSupplementUpdateStepTwo" class="btn" @*onclick="return ContactUpdate()"*@>Save</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>
            @Html.ActionLink("Edit Insurance Supplement", "", new { Employee_id = ViewBag.Employee_id }, null)
        </p>
    </div>
    <hr />
    @* db.Group_Healh- GroupHealthInsurance_id as primary and Employee_id as foreign *@
    <div class="form-horizontal">
        <div class="collapsible" id="ThirdStep">Group Health Insurance Enrollment</div>
        <div>
            <p></p>
            <div style="border:solid" class="aside">
                <label>Employment Information: (To be completed by Employer)</label>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="GroupName" id="GroupName" placeholder="Group Name" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="IMSGroupNumber" id="IMSGroupNumber" placeholder="IMS Group Number" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="Department" id="empDepartment" placeholder="Department" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="EnrollmentType" id="empEnrollmentType" placeholder="Enrollment Type" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="Payroll_id" id="empPayroll_id" placeholder="Payroll ID" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="Class" id="empClass" placeholder="Class" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="AnnualSalary" id="empAnnualSalary" placeholder="Annual Salary" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="JobTitle" id="empJobTitle" placeholder="Occupation" value="" />
                </div>
                <p></p>
                <div>
                    <label>Hire Date:</label>
                    <input type="date" class="form-control" name="HireDate" id="empHireDate" placeholder="Employment Date" value="" />
                </div>
                <p></p>
                <div>
                    <label>Effective Date:</label>
                    <input type="date" class="form-control" name="EffectiveDate" id="empEffectiveDate" placeholder="Effective Date" value="" />
                </div>
                <p></p>
                <div>
                    <input type="number" class="form-control" name="HoursWorkedPerWeek" id="empHrsWrkPerWk" placeholder="Min. Hrs. Worked/Wk" value="" />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-9">
                        <button type="submit" id="EmploymentInfoUpdate" class="btn">Save</button>
                    </div>
                </div>
            </div>

            <div id="empInfo">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Employee Number" id="empNumber" name="SSN" value="@Html.DisplayFor(Model => Model.employee.SSN)" disabled />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="First Name" id="FirstName" name="FirstName" value="@Html.DisplayFor(Model => Model.employee.FirstName)" disabled />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Last Name" id="LastName" name="LastName" value="@Html.DisplayFor(Model => Model.employee.LastName)" disabled />
                </div>
                <div>
                    <input type="text" id="MaritalStatus" class="form-control" placeholder="" name="MaritalStatus" value="@Html.DisplayFor(model => model.employee.MaritalStatus)" disabled />
                    @*<select id="MaritalStatus" class="form-control" disabled>*@
                    @*<option value="@Html.DisplayFor(Model => Model.employee.MaritalStatus)">Marital Status:</option>*@
                    @*<option value="MarriedwDep" @((ViewBag.MaritalStatus) == "MarriedwDep" ? "selected": "")>Married with Dependents</option>*@
                    @*<option value="Married" @((ViewBag.MaritalStatus) == "Married"     ? "selected": "")>Married</option>*@
                    @*<option value="SinglewDep" @((ViewBag.MaritalStatus) == "SinglewDep"  ? "selected": "")>Single with Dependents</option>*@
                    @*<option value="Single" @((ViewBag.MaritalStatus) == "Single"      ? "selected": "")>Single</option>*@
                    @*</select>*@
                </div>
                <p></p>
                <div class="form-group col-md-6">
                    <label>Street Address:</label>
                    <input type="text" id="MailingAddress" class="form-control" placeholder="Street" name="MailingAddress" value="@Html.DisplayFor(model => model.employee.MailingAddress)" disabled />
                    <input type="text" id="PObox" class="form-control" placeholder="PO Box" name="PObox" value="@Html.DisplayFor(model => model.employee.PObox)" disabled />
                    <input type="text" id="City" class="form-control" placeholder="City" name="City" value="@Html.DisplayFor(model => model.employee.City)" disabled />
                    <input type="text" id="State" class="form-control" placeholder="State" name="State" value="@Html.DisplayFor(model => model.employee.State)" disabled />
                    <input type="text" id="ZipCode" class="form-control" placeholder="Zip Code" name="ZipCode" value="@Html.DisplayFor(model => model.employee.ZipCode)" disabled />
                </div>
                <div>
                    <input type="text" id="Gender" class="form-control" placeholder="" name="Gender" value="@Html.DisplayFor(model => model.employee.Gender)" disabled />
                    @*<select id="Gender" class="form-control" disabled>*@
                    @*<option value="">Gender:</option>*@
                    @*<option value="Male"   @((ViewBag.Employee.Gender) == "Male"   ? "selected" : "")>Male</option>*@
                    @*<option value="Female" @((ViewBag.Employee.Gender) == "Female" ? "selected" : "")>Female</option>*@
                    @*</select>*@
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" placeholder="Email Address" id="EmailAddress" name="EmailAddress" value="@Html.DisplayFor(Model => Model.employee.EmailAddress)" disabled />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" placeholder="Phone Number" id="PhoneNumber" name="PhoneNumber" value="@Html.DisplayFor(Model => Model.employee.PhoneNumber)" disabled />
                </div>
                <p></p>
                <div>
                    <label>Birth Date:</label>
                    <input type="text" class="form-control" id="DateOfBirth" name="DateOfBirth" value="@Convert.ToDateTime(Model.employee.DateOfBirth).ToString("MM/dd/yyyy")" disabled />
                </div>
            </div>
            <hr />
            <div>
                <div class="form-control">
                    <label>Are you covered by any other insurance, including Medicare?</label>
                    <label class="radio-inline"><input type="radio" id="empCoveredByOtherIns" class="radio-inline" onclick="showHidEmpOtherInsCoverage()" name="OtherInsuranceCoverage" value="true" />Yes</label>
                    <label class="radio-inline"><input type="radio" id="empCoveredByOtherIns" class="radio-inline" onclick="showHidEmpOtherInsCoverage()" name="OtherInsuranceCoverage" value="false" />No</label>
                </div>
                <div id="empInsInfo" disabled>
                    <div class="form-group col-md-3">
                        <input type="text" id="empInsCarrier" class="form-control" placeholder="Insurance Company" name="InsuranceCarrier" value="" disabled />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" id="empInsPolicyNumber" class="form-control" placeholder="Policy #" name="PolicyNumber" value="" disabled />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="tel" id="empInsPhoneNumber" class="form-control" placeholder="Phone #" name="PhoneNumber" size="3" maxlength="14" value="" disabled />
                    </div>
                </div>
            </div>
            <p></p>
            <div id="GrpHealthCoverageOptions" class="control-label">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>None</th>
                            <th>Employee Only</th>
                            <th>Employee & Spouse</th>
                            <th>Employee & Child(ren)</th>
                            <th>Employee & Family</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Medical Plan:</td>
                        <td>
                            <select id="NoneGroupHealthOption" class="form-control">
                                <option value="">Choose Option:</option>
                                <option value="N/A" name="NoMedicalPlan"></option>
                                <option value="No Medical Plan" name="NoMedicalPlan">No Medical Plan</option>
                            </select>
                        </td>
                        <td>
                            <select id="empOnlyGroupHealthOption" class="form-control">
                                <option value="">Choose Option:</option>
                                <option value="N/A" name="EmployeeOnly"></option>
                                <option value="MEC Plan" name="EmployeeOnly">MEC Plan</option>
                                <option value="Standard Plan" name="EmployeeOnly">Standard Plan</option>
                                <option value="Buy Up Plan" name="EmployeeOnly">Buy Up Plan</option>
                            </select>
                        </td>
                        <td>
                            <select id="empSpGroupHealthOption" class="form-control">
                                <option value="">Choose Option:</option>
                                <option value="N/A" name="EmployeeAndSpouse"></option>
                                <option value="MEC Plan" name="EmployeeAndSpouse">MEC Plan</option>
                                <option value="Standard Plan" name="EmployeeAndSpouse">Standard Plan</option>
                                <option value="Buy Up Plan" name="EmployeeAndSpouse">Buy Up Plan</option>
                            </select>
                        </td>
                        <td>
                            <select id="empDepGroupHealthOption" class="form-control">
                                <option value="">Choose Option:</option>
                                <option value="N/A" name="EmployeeAndDependent"></option>
                                <option value="MEC Plan" name="EmployeeAndDependent">MEC Plan</option>
                                <option value="Standard Plan" name="EmployeeAndDependent">Standard Plan</option>
                                <option value="Buy Up Plan" name="EmployeeAndDependent">Buy Up Plan</option>
                            </select>
                        </td>
                        <td>
                            <select id="empFamGroupHealthOption" class="form-control">
                                <option value="">Choose Option:</option>
                                <option value="N/A" name="EmployeeAndFamily"></option>
                                <option value="MEC Plan" name="EmployeeAndFamily">MEC Plan</option>
                                <option value="Standard Plan" name="EmployeeAndFamily">Standard Plan</option>
                                <option value="Buy Up Plan" name="EmployeeAnEmployeeAndFamilydDependent">Buy Up Plan</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group col-md-12">
                @foreach (var sp in Model.family)
                {
                    <div id="spGenInfo" class="floatLeft">
                        <table class="table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="2">Spouse's Information</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" id="spFirstName" placeholder="First Name" value="@Html.Raw(sp.LastName)" disabled />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" id="spLastName" placeholder="Last Name" value="@Html.Raw(sp.LastName)" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" id="spAddress" placeholder="Street" value="@Html.Raw(sp.MailingAddress)" disabled />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" id="spCity" placeholder="City" value="@Html.Raw(sp.City)" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" id="spState" placeholder="State" value="@Html.Raw(sp.State)" disabled />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" id="spZipCode" placeholder="Zip Code" value="@Html.Raw(sp.ZipCode)" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="tel" class="form-control" id="spPhoneNumber" placeholder="Phone Number" value="@Html.Raw(sp.PhoneNumber)" disabled />
                                </td>
                                <td class="text">
                                    <input type="date" class="form-control" id="spDateOfBirth" placeholder="Birth Date" value="@Html.Raw(sp.DateOfBirth)" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td class="text" colspan="1">
                                    <input type="text" class="form-control" placeholder="" id="spGender" name="Gender" value="@Html.Raw(sp.Gender)" disabled />
                                </td>
                                <td class="text" colspan="1">
                                    <input type="text" class="form-control" placeholder="SSN#- Call HR" id="spSSN" name="SSN" value="@Html.Raw(sp.SSN)" disabled />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="spEmploymentInfo" class="floatCenter">
                        <table class="table-bordered" border="1">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="2">Spouse's Employer</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" id="spEmployer" placeholder="Employer" value="@Html.Raw(sp.Employer)" disabled />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" id="" placeholder="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" id="spEmployerAddress" placeholder="Street" value="@Html.Raw(sp.EmployerMailingAddress)" disabled />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" id="spEmployerCity" placeholder="City" value="@Html.Raw(sp.EmployerCity)" disabled />
                                </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" id="spEmployerState" placeholder="State" value="@Html.Raw(sp.EmployerState)" disabled />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" id="spEmployerZipCode" placeholder="Zip Code" value="@Html.Raw(sp.EmployerZipCode)" disabled />
                                </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" id="spEmployerPhoneNumber" placeholder="Phone Number" value="@Html.Raw(sp.MailingAddress)" disabled />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" id="" placeholder="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    @*<input type="text" class="form-control" id="" placeholder="" value=""/>*@
                                    <select id="spOtherInsCoverage" class="form-control">
                                        <option>Other Ins. Coverage:</option>
                                        <option value="Medical">Medical</option>
                                        <option value="Dental">Dental</option>
                                        <option value="Vision">Vision</option>
                                        <option value="Indemnity">Indemnity</option>
                                    </select>
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" id="" placeholder="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                @*@foreach (var spOtherIns in Model.otherIns)
            {*@
                <div id="spInsInfo" class="floatRight">
                    <table class="table-bordered" border="1">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="2">Spouse's Insurance</th>
                            </tr>
                        </thead>
                        <tr>
                            <td class="text">
                                <input type="text" class="form-control" id="spInsCarrier" placeholder="Insurance Carrier" name="InsuranceCarrier" @*value="@Html.Raw(spOtherIns.InsuranceCarrier)"*@ />
                            </td>
                            <td class="text">
                                <input type="text" class="form-control" id="" placeholder="" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text">
                                <input type="text" class="form-control" id="spInsMailingAddress" placeholder="Street" name="MailingAddress" @*value="@Html.Raw(spOtherIns.MailingAddress)"*@ />
                            </td>
                            <td class="text">
                                <input type="text" class="form-control" id="spInsCity" placeholder="City" name="City" @*value="@Html.Raw(spOtherIns.City)"*@ />
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td class="text">
                                <input type="text" class="form-control" id="spInsState" placeholder="State" name="State" @*value="@Html.Raw(spOtherIns.State)"*@ />
                            </td>
                            <td class="text">
                                <input type="text" class="form-control" id="spInsZipCode" placeholder="Zip Code" name="ZipCode" @*value="@Html.Raw(spOtherIns.ZipCode)"*@ />
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td class="text">
                                <input type="text" class="form-control" id="spInsPhoneNumber" placeholder="Phone Number" name="PhoneNumber" @*value="@Html.Raw(spOtherIns.PhoneNumber)"*@ />
                            </td>
                            <td class="text">
                                <input type="text" class="form-control" id="" placeholder="" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text">
                                <input type="text" class="form-control" id="spInsPolicyNumber" placeholder="Policy #" name="PolicyNumber" @*value="@Html.Raw(spOtherIns.PolicyNumber)"*@ />
                            </td>
                            <td class="text">
                                <input type="text" class="form-control" id="" placeholder="" />
                            </td>
                        </tr>
                    </table>
                </div>
                @*}*@
            </div>
            <div>
                <label><u>Dependent Information- Complete this section for all dependents you want covered.</u></label>
                @*@foreach (var familyMember in Model.family){*@
                <table class="table">
                    <tr>
                        <td>
                            <span>
                                @* redirects to to view family insurance *@
                                <i class="fa fa-arrow-circle-o-right" style="font-size:24px" onclick="DependentInfo()"></i>
                            </span>
                        </td>
                        <td>
                            <input type="text" id="SSN" class="form-control" placeholder="SSN" name="SSN" value="" readonly />
                        </td>
                        <td>
                            <input type="text" id="FirstName" class="form-control" placeholder="First Name" name="FirstName" value="" readonly />
                        </td>
                        <td>
                            <input type="text" id="LastName" class="form-control" placeholder="Last Name" name="LastName" value="" readonly />
                        </td>
                        <td>
                            <input type="text" id="RelationshipToInsured" class="form-control" placeholder="Relation to Insured" name="RelationshipToInsured" value="" readonly />
                        </td>
                        <td>
                            <input type="text" id="DateOfBirth" class="form-control" placeholder="Date of Birth" name="DateOfBirth" value="" readonly />
                        </td>
                        <td>
                            <input type="text" id="Gender" class="form-control" placeholder="Gender" name="Gender" value="" readonly />
                        </td>
                 
                    </tr>
                </table>
                <p></p>
                <label><u>Dependent Insurance Information</u></label>
                <table class="table" id="DepOtherInsTable">
                    <tr id="depInsInfo">
                        <td>
                            <span>
                                @* redirects to to view family insurance *@
                                <i class="fa fa-arrow-circle-o-right" style="font-size:24px" onclick="DependentInsInfo()"></i>
                            </span>
                        </td>
                        <td></td>
                        <td>
                            <input type="text" id="depInsCarrier" class="form-control" placeholder="Insurance Carrier" name="InsuranceCarrier" value="" disabled />
                        </td>
                        <td></td>
                        <td>
                            <input type="text" id="depInsPolicyNumber" class="form-control" placeholder="Policy #" name="PolicyNumber" value="" disabled />
                        </td>
                        <td></td>
                        <td>
                            <input type="tel" id="depInsPhoneNumber" class="form-control" placeholder="Phone #" name="PhoneNumber" value="" disabled />
                        </td>
                        <td>
                            @Html.ActionLink("Add Dependent", "AddDependent", "Employee", new { FamilyMember_id = @ViewBag.FamilyMember_id }, null)|
                            @Html.ActionLink("Edit Insurance", "EditOtherInsurance", "Other_Insurance", new { FamilyMember_id = @ViewBag.FamilyMember_id }, null)
                        </td>
                    </tr>
                </table>
            </div>
            @*}*@
            <div class="text-justify">
                <label style="padding-left: 10px;"></label>
                <p>
                    I AUTHORIZE any physician, dentist, medical practitioner, hospital, pharmacy or toerh provider of heal care, any insurance company,
                    government agency or consumer reporting agency to disclose to Insurance Management Services or my employer all information and records
                    relating to diagnosis, treatment, medical history, physical or mental condition and evaluation, or any other informationrelating to me,
                    my spouse, or my dependent children. I understand that nay information obtained will not be released to any person or organization except
                    re-insurers, other persons or organizations performing business or legal services in conjunction with my coverage, or as required by law,
                    or as I may authorize. A photocopy of this authorization remains valid for the term of coverage. I have the right to receive a copy of this
                    authorization upon request.
                </p>
                <hr />
                <div>
                    <div>
                        <label style="padding-left: 10px;">
                            Employee Signature:
                        </label>
                        <input type="text" id="empSignature1" name="EmployeeSignature" value="" />
                        <label style="padding-left: 10px;">
                            Date:
                        </label>
                        <input type="date" id="empSignatureDate1" name="EmployeeSignatureDate" value="" />
                        <hr />
                    </div>
                </div>
                <hr />
                <div>
                    <form class="table-bordered">
                        <div id="divGrpHRefusal">
                            <h4><b>Refusal of Group Health Coverage</b></h4>
                            <h6>This is to certify I have been given an opportunity to apply for group health coverage available to me through my Employer, and I have decided to not apply coverage for:</h6>
                            <div id="divGrpHRefusalSelection">
                                <input type="checkbox" class="checkbox-inline" id="Myself" name="Myself" onclick="RefusalOfGrpHealthCoverage()" value="Myself" />
                                <label for="cb-Myself">Myself</label>
                                <input type="checkbox" class="checkbox-inline" id="Spouse" name="Spouse" onclick="RefusalOfGrpHealthCoverage()" value="Spouse" />
                                <label for="cb-Service Writer">Spouse</label>
                                <input type="checkbox" class="checkbox-inline" id="Dependent" name="Child(ren)" onclick="RefusalOfGrpHealthCoverage()" value="Child(ren)" />
                                <label for="cb-Service Writer">Child(ren)</label>
                            </div>
                            @*<label class="radio-inline"><input type="radio" id="Myself" class="radio-inline" onclick="return RefusalOfGrpHealthCoverage()" name="Myself" value="Myself" />Myself</label>
                                <label class="radio-inline"><input type="radio" id="Spouse" class="radio-inline" name="Spouse" value="Spouse" />Spouse</label>
                                <label class="radio-inline"><input type="radio" id="Dependent" class="radio-inline" name="Dependent" value="Child(ren)" />Child(ren)</label>*@
                            <p></p>
                        </div>
                    </form>
                    <p></p>
                    <form class="table-bordered">
                        <div id="divReasonForRefusal">
                            <h4><b>Reason for Refusal</b></h4>
                            <div id="divReasonForRefusalSelection">
                                <label class="radio-inline" for="r-OtherCoverage"><input type="radio" id="OtherCoverageSelection" class="radio-inline" name="OtherCoverage" onclick="return showHideReasonForRefusal()" value="OtherCoverage" />OtherCoverage</label>
                                <label class="radio-inline" for="r-OtherReason"><input type="radio" id="OtherReasonSelection" class="radio-inline" name="OtherCoverage" onclick="return showReasonForRefusal()" value="OtherReason" checked />OtherReason</label>
                                <p></p>
                                <input type="text" id="OtherReasonComment" class="form-control" placeholder="Please input other reason" name="ReasonForGrpCoverageRefusal" value="" />
                            </div>
                            <hr />
                            <div>
                                <label style="padding-left: 10px;">
                                    Employee Signature:
                                </label>
                                <input type="text" id="empSignature2" name="EmployeeSignature" value="" />
                                <label style="padding-left: 10px;">
                                    Date:
                                </label>
                                <input type="date" id="empSignatureDate2" name="EmployeeSignatureDate" value="" />
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="text-justify">
                        <h4><b>Special Enrollment Rules</b></h4>
                        <p>
                            If you aredeclining enrollment for yourself or your dependents (including your spouse) because of other health insurance coverage, you may in the future
                            be able to enroll yourself or your dependent in this Plan, provided that you request enrollment within 30 days after your coverage ends. In addition, if
                            you have a new dependent as a result of marriage, birth, adoption, or placement for adoption, you may be able to enroll yourself and your dependents,
                            provided that you request enrollment within 30 days after the marriage, birth, adoption, or placement for adoption.
                        </p>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-11">
                        <button type="submit" id="GrpHealthInsUpdateStepThree" class="btn" @*onclick="return function()"*@>Save</button>
                    </div>
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Edit Group Insurance", "EditGrpHealthIns", new { Employee_id = ViewBag.Employee_id }, null)
        </p>
    </div>
</body>
</html>


<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    #label {
        font-weight: bold;
        text-align: left;
        font-size: 100%;
    }

    #signature {
        width: 100%;
        border: 0px;
        border-bottom: 1px solid black;
        height: 20px;
    }

    #signatureDate {
        width: 15%;
        border: 0px;
        border-bottom: 1px solid black;
        height: 20px;
    }

    .aside {
        float: right;
    }

    .floatLeft {
        width: 33%;
        display: inline-block;
    }

    .floatCenter {
        width: 33%;
        display: inline-block;
    }

    .floatRight {
        width: 33%;
        display: inline-block;
    }

    .container-fluid {
        overflow: hidden;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td:empty {
        width: 10px;
    }

    th, td {
        text-align: left;
        padding: 0px;
    }

    th {
        border-bottom: 5px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<script>
    var col = document.querySelectorAll(".collapsible");
    var i;
    //var Employee_id;
    var GrpHealth_id;

    for (i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }

        });
    }

    function AddInsurance() {

    }

    function showHidEmpOtherInsCoverage() {

        document.addEventListener("click", function () {
            var selection = document.getElementById("empCoveredByOtherIns");

            if (selection.checked == true) {
                document.getElementById("empInsInfo").style.display = "block";
            }
            else {
                document.getElementById("empInsInfo").style.display = "none";
            }
        })
    }

    function showHideDepOtherInsCoverage() {
        document.addEventListener("click", function () {
            var selection = document.getElementById("depOtherInsCoverage");

            if (selection.checked == true) {
                depOtherInsCoverage
                document.getElementById("depInsInfo").style.display = "block";
                //document.getElementById("depInsInfo").style.visibility = "visible";
            }
            else {
                document.getElementById("depInsInfo").style.display = "none";
                //document.getElementById("depInsInfo").style.visibility = "hidden";
            }
        });
    }

    function showHideReasonForRefusal() {

        document.addEventListener("click", function () {

            var refusal = document.getElementById("OtherReasonSelection");

            if (refusal.checked == true) {
                //document.getElementById("OtherReasonComment").style.display = "block";
                document.getElementById("OtherReasonComment").style.visibility = "visible";
            }
            else {
                //document.getElementById("OtherReasonComment").style.display = "none";
                document.getElementById("OtherReasonComment").style.visibility = "hidden";
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#EmploymentInfoUpdate").addEventListener("click", function () {
            GroupName = document.getElementById("GroupName").value;
            IMSGroupNumber = document.getElementById("IMSGroupNumber").value;
            empDepartment = document.getElementById("empDepartment").value;
            empEnrollmentType = document.getElementById("empEnrollmentType").value;
            empPayroll_id = document.getElementById("empPayroll_id").value;
            empClass = document.getElementById("empClass").value;
            empAnnualSalary = document.getElementById("empAnnualSalary").value;
            empJobTitle = document.getElementById("empJobTitle").value;
            empHireDate = document.getElementById("empHireDate").value;
            empEffectiveDate = document.getElementById("empEffectiveDate").value;
            empHrsWrkPerWk = document.getElementById("empHrsWrkPerWk").value;

            var data = {
                "GroupName": GroupName,
                "IMSGroupNumber": IMSGroupNumber,
            }
            fetch('GrpHealthEnrollmentNew', {
                body: JSON.stringify(data), //must match 'Content-Type' header
                cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', //include, same-origin, *omit
                headers: {
                    'Accept': 'application/json',
                    'user-agent': 'Mozilla/4.0 MDN Example',
                    'content-type': 'application/json'
                },
                method: 'Post', //*GET, POST, PUT, DELETE, etc...
                mode: 'same-origin', //no-cors, cors, *same-origin
                redirect: 'follow', //manual, *follow, error
                referrer: 'no-referrer', //*client, no-referrer
            }).then(res => res.json())
                .then(response => ThirdStep(response))
                .catch(error => console.error('Error:', error));

            var data = {

                "empDepartment": empDepartment,
                "empEnrollmentType": empEnrollmentType,
                "empPayroll_id": empPayroll_id,
                "empClass": empClass,
                "empAnnualSalary": empAnnualSalary,
                "empJobTitle": empJobTitle,
                "empHireDate": empHireDate,
                "empEffectiveDate": empEffectiveDate,
                "empHrsWrkPerWk": empHrsWrkPerWk,

            }

            //var ret = postData('EmployeeEnrollmentNew', data)
            //    .then(data => {
            //        console.log(data);
            //        FirstStep(data); })
            //    .catch(error => console.error(error))

            fetch('EmployeeEnrollmentNew', {
                body: JSON.stringify(data), //must match 'Content-Type' header
                cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', //include, same-origin, *omit
                headers: {
                    'Accept': 'application/json',
                    'user-agent': 'Mozilla/4.0 MDN Example',
                    'content-type': 'application/json'
                },
                method: 'Post', //*GET, POST, PUT, DELETE, etc...
                mode: 'same-origin', //no-cors, cors, *same-origin
                redirect: 'follow', //manual, *follow, error
                referrer: 'no-referrer', //*client, no-referrer
            }).then(res => res.json())
                .then(response => ThirdStep(response))
                .catch(error => console.error('Error:', error));
        })


        document.querySelector("#GrpHealthInsUpdateStepThree").addEventListener("click", function () {
            Employee_id = document.getElementById("Employee_id").value;
            GroupName = document.getElementById("GroupName").value;
            IMSGroupNumber = document.getElementById("IMSGroupNumber").value;
            empDepartment = document.getElementById("empDepartment").value;
            empEnrollmentType = document.getElementById("empEnrollmentType").value;
            empPayroll_id = document.getElementById("empPayroll_id").value;
            empClass = document.getElementById("empClass").value
            empAnnualSalary = document.getElementById("empAnnualSalary").value;
            empJobTitle = document.getElementById("empJobTitle").value;
            empHireDate = document.getElementById("empHireDate").value;
            empEffectiveDate = document.getElementById("empEffectiveDate").value;
            empHrsWrkPerWk = document.getElementById("empHrsWrkPerWk").value;
            //empOtherInsCoverage = document.getElementById("empCoveredByOtherIns").value;
            //empInsuranceCarrier = document.getElementById("empInsCarrier").value;
            //empInsPolicyNumber = document.getElementById("empInsPolicyNumber").value;
            empInsPhoneNumber = document.getElementById("empInsPhoneNumber").value;
            empSignature1 = document.getElementById("empSignature1").value;
            empSignatureDate1 = document.getElementById("empSignatureDate1").value;
            empSignature2 = document.getElementById("empSignature2").value;
            empSignatureDate2 = document.getElementById("empSignatureDate2").value;

            empNumber = document.getElementById("empNumber").value;
            FirstName = document.getElementById("FirstName").value;
            LastName = document.getElementById("LastName").value;
            MailingAddress = document.getElementById("MailingAddress").value;
            PObox = document.getElementById("PObox").value;
            City = document.getElementById("City").value;
            State = document.getElementById("State").value;
            ZipCode = document.getElementById("ZipCode").value;
            Gender = document.getElementById("Gender").value;
            MaritalStatus = document.getElementById("MaritalStatus").value;
            EmailAddress = document.getElementById("EmailAddress").value;
            PhoneNumber = document.getElementById("PhoneNumber").value;
            DateOfBirth = document.getElementById("DateOfBirth").value;

            NoneGroupHealthOption = document.getElementById("NoneGroupHealthOption").value;
            empOnlyGroupHealthOption = document.getElementById("empOnlyGroupHealthOption").value;
            empSpGroupHealthOption = document.getElementById("empSpGroupHealthOption").value;
            empDepGroupHealthOption = document.getElementById("empDepGroupHealthOption").value;
            empFamGroupHealthOption = document.getElementById("empFamGroupHealthOption").value;

            spOtherInsCoverage = document.getElementById("spOtherInsCoverage").value;
            spInsCarrier = document.getElementById("spInsCarrier").value;
            spInsMailingAddress = document.getElementById("spInsMailingAddress").value;
            spInsCity = document.getElementById("spInsCity").value;
            spInsState = document.getElementById("spInsState").value;
            spInsZipCode = document.getElementById("spInsZipCode").value;
            spInsPhoneNumber = document.getElementById("spInsPhoneNumber").value;
            spInsPolicyNumber = document.getElementById("spInsPolicyNumber").value;

            depFirstName = document.getElementById("depFirstName").value;
            depLastName = document.getElementById("depLastName").value;
            depSSN = document.getElementById("depSSN").value;
            depRelationToInsured = document.getElementById("depRelationToInsured").value;
            depDateOfBirth = document.getElementById("depDateOfBirth").value;
            depGender = document.getElementById("depGender").value;

            depOtherInsCoverage = document.getElementById("depOtherInsCoverage").value;
            depInsCarrier = document.getElementById("depInsCarrier").value;
            depInsPolicyNumber = document.getElementById("depInsPolicyNumber").value;
            depInsPhoneNumber = document.getElementById("depInsPhoneNumber").value;

            var data = {
                "GrpHealth_id": GrpHealth_id,
                "Employee_id": Employee_id,
                "FamilyMember_id": FamilyMember_id,
                "OtherInsurance_id": OtherInsurance_id,
                //"GroupName": GroupName,
                //"IMSGroupNumber": IMSGroupNumber,
                "empDepartment": empDepartment,
                "empEnrollmentType": empEnrollmentType,
                "empPayroll_id": empPayroll_id,
                "empClass": empClass,
                "empAnnualSalary": empAnnualSalary,
                "empEffectiveDate": empEffectiveDate,
                "empHrsWrkPerWk": empHrsWrkPerWk,
                //"empOtherInsCoverage": empOtherInsCoverage,
                //"empInsCarrier": empInsCarrier,
                //"empInsPolicyNumber": empInsPolicyNumber,
                //"empInsPhoneNumber": empInsPhoneNumber,
                "NoneGroupHealthOption": NoneGroupHealthOption,
                "empOnlyGroupHealthOption": empOnlyGroupHealthOption,
                "empSpGroupHealthOption": empSpGroupHealthOption,
                "empDepGroupHealthOption": empDepGroupHealthOption,
                "empFamGroupHealthOption": empFamGroupHealthOption,
                "empSignature1": empSignature1,
                "empSignatureDate1": empSignatureDate1,
                "empSignature2": empSignature2,
                "empSignatureDate2": empSignatureDate2,

                "empNumber": empNumber,
                "FirstName": FirstName,
                "LastName": LastName,
                "MailingAddress": MailingAddress,
                "PObox": PObox,
                "City": City,
                "State": State,
                "ZipCode": ZipCode,
                "Gender": Gender,
                "MaritalStatus": MaritalStatus,
                "EmailAddress": EmailAddress,
                "PhoneNumber": PhoneNumber,
                "DateOfBirth": DateOfBirth,

                "spOtherInsCoverage": spOtherInsCoverage,
                //"spInsCarrier": spInsCarrier,
                //"spInsMailingAddress": spInsMailingAddress,
                //"spInsCity": spInsCity,
                //"spInsState": spInsState,
                //"spInsZipCode": spInsZipCode,
                //"spInsPhoneNumber": spInsPhoneNumber,
                //"spInsPolicyNumber": spInsPolicyNumber,

                //"depFirstName": depFirstName,
                //"depLastName": depLastName,
                //"depSSN": depSSN,
                //"depRelationToInsured": depRelationToInsured,
                //"depDateOfBirth": depDateOfBirth,
                //"depGender": depGender,

                //"depOtherInsCoverage": depOtherInsCoverage,
                //"depInsCarrier": depInsCarrier,
                //"depInsPolicyNumber": depInsPolicyNumber,
                //"depInsPhoneNumber": depInsPhoneNumber,
            }

            //var ret = postData('/GrpHealthInsurance/GrpHealthEnrollmentNew', data)
            //    .then(data => {
            //        console.log(data);
            //        ThirdStep(data);
            //    })
            //    .catch(error => console.error(error))

            fetch('Group_Health/GrpHealthEnrollmentNew', {
                body: JSON.stringify(data), //must match 'Content-Type' header
                cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', //include, same-origin, *omit
                headers: {
                    'Accept': 'application/json',
                    'user-agent': 'Mozilla/4.0 MDN Example',
                    'content-type': 'application/json'
                },
                method: 'Post', //*GET, POST, PUT, DELETE, etc...
                mode: 'same-origin', //no-cors, cors, *same-origin
                redirect: 'follow', //manual, *follow, error
                referrer: 'no-referrer', //*client, no-referrer
            }).then(res => res.json())
                //.then(response => console.log('Success:', JSON.stringify(response)))
                .then(response => ThirdStep(response))
                .catch(error => console.error('Error:', error));
        })
    })

    function ThirdStep(ins) {
        document.querySelector("#ThirdStep").nextElementSibling.style.display = "block";
        GrpHealth_id = ins.data;
    }

    function postData(url, data) {
        //Default options are marked with *
        console.log(data);
        console.log(JSON.stringify(data));
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'Accept': 'application/json',
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'same-origin', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
        //.then(Response => {
        //    console.log(Response);
        //    Response.json();
        //}) //parses response to JSON
    }
</script>

@* previous code for dependent insurance information- located after spouse information-employer, other ins..etc *@
@*<form id="depGen&InsInfo" method="post" action="#" class="repeatingSection" enctype="multipart/form-data">
    <div id="depGenInfo">
        <label><u>Dependent Information- Complete this section for all dependents you want covered.</u></label>
        <div id="depInfo">
            <div class="form-group col-md-2">
                <input type="text" id="depFirstName" class="form-control" placeholder="First Name" name="FirstName" value="" disabled />
            </div>
            <div class="form-group col-md-2">
                <input type="text" id="depLastName" class="form-control" placeholder="Last Name" name="LastName" value="" disabled />
            </div>
            <div class="form-group col-md-2">
                <input type="text" id="depSSN" class="form-control" placeholder="SSN #" name="SSN" value="" disabled />
            </div>
            <div class="form-group col-md-3" id="depRelationshipToInsured">
                <input type="text" id="depRelationToInsured" class="form-control" placeholder="Relationship to Insured" name="RelationShipToInsured" value="" disabled>
                @*<input id="Child" name="RelationshipToInsured" class="form-control" value="Child" @((ViewBag.RelationshipToInsured.ToLower() == "Child") ? "selected" : "")/>*@
@*<input id="StepChild" name="RelationshipToInsured" class="form-control" value="StepChild" @((ViewBag.RelationshipToInsured.ToLower() == "StepChild") ? "selected" : "")/>*@
@*<input id="Other" name="RelationshipToInsured" class="form-control" value="Other" @((ViewBag.RelationshipToInsured.ToLower() == "Other") ? "selected" : "")/>*@
@*</div>
            <div class="form-group col-md-2">
                <input type="date" class="form-control" id="depDateOfBirth" name="DateOfBirth" value="" disabled />
            </div>
            <div class="form-group col-md-2">
                <select id="depGender" class="form-control" disabled>
                    <option value="">Gender:</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
    </div>*@