@{
    ViewBag.Title = "DeleteSp";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Delete</title>
</head>
<body>
    <div class="form-horizontal">
        <hr />
        <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" value=@ViewBag.Family_Info.Employee_id />
        <div class="collapsible" id="divSpDelete">Delete Spouse Information?</div>
        <div class="content" disabled>
            <p></p>
            <p></p>
            <dl class="dl-horizontal">
                <dt>
                    <label class="col-md-2 control-label">Relationship to Employee:</label>
                </dt>
                <dd>
                    <input type="text" id="RelationshipToInsured" class="form-control" name="RelationshipToInsured" value="@ViewBag.Family_Info.RelationshipToInsured">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">First Name:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="text" id="FirstName" class="form-control" name="FirstName" value="@ViewBag.Family_Info.FirstName">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Last Name:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="text" id="LastName" class="form-control" name="LastName" value="@ViewBag.Family_Info.LastName">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Date of Birth:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="date" id="DateOfBirth" class="form-control" name="DateOfBirth" value="@(((DateTime)ViewBag.Family_Info.DateOfBirth.Date).ToString("yyyy-MM-dd"))">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Gender:</label>
                </dt>
                <dd class="col-md-10">
                    <label class="radio-inline"><input disabled type="radio" id="Male" class="radio-inline" name="Gender" value="Male"     @((ViewBag.Family_Info.Gender == "Male") ? "checked" : "")  />Male</label>
                    <label class="radio-inline"><input disabled type="radio" id="Female" class="radio-inline" name="Gender" value="Female" @((ViewBag.Family_Info.Gender == "Female") ? "checked" : "")/>Female</label>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Mailing Address:</label>
                </dt>
                <dd class="col-md-10">
                    <text type="text" id="MailingAddress" class="form-control" name="MailingAddress" value="@ViewBag.Family_Info.MailingAddress" />
                    <text type="text" id="PObox" class="form-control" name="PObox" value="@ViewBag.Family_Info.PObox" />
                    <text type="text" id="City" class="form-control" name="City" value="@ViewBag.Family_Info.City" />
                    <text type="text" id="State" class="form-control" name="State" value="@ViewBag.Family_Info.State" />
                    <text type="text" id="ZipCode" class="form-control" name="ZipCode" value="@ViewBag.Family_Info.ZipCode" />
                    <text type="text" id="County" class="form-control" name="County" value="@ViewBag.Family_Info.County" />
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Physical Address:</label>
                </dt>
                <dd class="col-md-10">
                    <text type="text" id="PhysicalAddress" class="form-control" name="PhysicalAddress" value="@ViewBag.Family_Info.PhysicalAddress" />
                    <text type="text" id="PObox2" class="form-control" name="PObox" value="@ViewBag.Family_Info.PObox" />
                    <text type="text" id="City2" class="form-control" name="City" value="@ViewBag.Family_Info.City" />
                    <text type="text" id="State2" class="form-control" name="State" value="@ViewBag.Family_Info.State" />
                    <text type="text" id="ZipCode2" class="form-control" name="ZipCode" value="@ViewBag.Family_Info.ZipCode" />
                    <text type="text" id="County2" class="form-control" name="County" value="@ViewBag.Family_Info.County" />
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Within City Limits?</label>
                </dt>
                <dd class="col-md-10">
                    <label class="radio-inline"><input disabled type="radio" id="YesCityLimits" class="radio-inline" name="CityLimits" value="Yes" @((ViewBag.Family_Info.CityLimits == "Yes")  ? "checked" : "") />Yes</label>
                    <label class="radio-inline"><input disabled type="radio" id="NoCityLimits" class="radio-inline" name="CityLimits" value="No"   @((ViewBag.Family_Info.CityLimits == "No")   ? "checked" : "") />No</label>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Email:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="text" id="EmailAddress" class="form-control" name="EmailAddress" value="@ViewBag.Family_Info.EmailAddress">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Phone Number:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="tel" id="PhoneNumber" class="form-control" name="PhoneNumber" value="@ViewBag.Family_Info.PhoneNumber">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Cell Phone:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="tel" id="CellPhone" class="form-control" name="CellPhone" value="@ViewBag.Family_Info.CellPhone">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Current Employer:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="text" id="CurrentEmployer" class="form-control" name="Employer" value="@ViewBag.Family_Info.Employer">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Employer Address:</label>
                </dt>
                <dd class="col-md-10">
                    <text type="text" id="EmployerMailingAddress" class="form-control" name="EmployerMailingAddress" value="@ViewBag.Family_Info.EmployerMailingAddress" />
                    <text type="text" id="EmployerPObox" class="form-control" name="EmployerPObox" value="@ViewBag.Family_Info.EmployerPObox" />
                    <text type="text" id="EmployerCity" class="form-control" name="EmployerCity" value="@ViewBag.Family_Info.EmployerCity" />
                    <text type="text" id="EmployerState" class="form-control" name="EmployerState" value="@ViewBag.Family_Info.EmployerState" />
                    <text type="text" id="EmployerZipCode" class="form-control" name="EmployerZipCode" value="@ViewBag.Family_Info.EmployerZipCode" />
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Employer Phone Number:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="tel" id="EmployerPhoneNumber" class="form-control" name="EmployerPhoneNumber" value="@ViewBag.Family_Info.EmployerPhoneNumber">
                </dd>
            </dl>
        </div>
    </div>
    <div class="form-actions no-color">
        <button type="submit" id="confirmDelete" value="Delete" class="btn" data-toggle="confirmation">Delete</button> |
        @Html.ActionLink("Back to List", "FamilyOverview")
    </div>
</body>
</html>

<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .phone-number .col-xs-3::after {
        content: "-";
        position: absolute;
        right: 5px;
        color: black;
        border: 0px solid;
        top: 8px;
    }

    .phone-number .col-xs-4 {
        width: 25%;
    }

    .phone-number .col-xs-3, .phone-number .col-xs-4 {
        padding-left: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

        table tr {
            border-bottom: 1px solid black;
        }

    td:empty {
        width: 10px;
    }

    th, td {
        text-align: left;
        padding: 0px;
    }

    th {
        border-bottom: 5px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<script>

    //add confirmDelte function and a prompt to asking
    //if you are sure you want to delete this


    var col = document.querySelectorAll(".collapsible");
    var i;

    for (i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }

        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#confirmDelete").addEventListener("click", function () {
            Employee_id = document.getElementById("Employee_id").value;
            RelationshipToInsured = document.getElementById("RelationshipToInsured").value;
            FirstName = document.getElementById("FirstName").value;
            LastName = document.getElementById("LastName").value;
            DateOfBirth = document.getElementById("DateOfBirth").value;
            Gender = document.getElementById("Gender").value;
   
            MailingAddress = document.getElementById("MailingAddress").value;
            PObox = document.getElementById("PObox").value;
            City = document.getElementById("City").value;
            State = document.getElementById("State").value;
            ZipCode = document.getElementById("ZipCode").value;
            County = document.getElementById("County").value;
            PhysicalAddress = document.getElementById("PhysicalAddress").value;
            PObox2 = document.getElementById("PObox2").value;
            City2 = document.getElementById("City2").value;
            State2 = document.getElementById("State2").value;
            ZipCode2 = document.getElementById("ZipCode2").value;
            County2 = document.getElementById("County2").value;
            EmailAddress = document.getElementById("EmailAddress").value;
            PhoneNumber = document.getElementById("PhoneNumber").value;
            CellPhone = document.getElementById("CellPhone").value;
            CityLimits = document.getElementById("CityLimits").value;

            Employer = document.getElementById("Employer").value;
            EmployerAddress = document.getElementById("EmployerMailingAddress").value;
            EmployerPObox = document.getElementById("EmployerPObox").value;
            EmployerCity = document.getElementById("EmployerCity").value;
            EmployerState = document.getElementById("EmployerState").value;
            EmployerZipCode = document.getElementById("EmployerZipCode").value;
            EmployerPhoneNumber = document.getElementById("EmployerPhoneNumber").value;

            var data = {
                "Employee_id": Employee_id,
                "FirstName": FirstName,
                "LastName": LastName,
                "DateOfBirth": DateOfBirth,
                "Gender": Gender,
                "MailingAddress": MailingAddress,
                "City": City,
                "State": State,
                "ZipCode": ZipCode,
                "County": County,
                "PhysicalAddress": PhysicalAddress,
                "PObox2": PObox2,
                "City2": City2,
                "State2": State2,
                "ZipCode2": ZipCode2,
                "County2": County2,
                "CityLimits": CityLimits,
                "EmailAddress": EmailAddress,
                "PhoneNumber": PhoneNumber,
                "CellPhone": CellPhone,
                "CurrentEmployer": CurrentEmployer,
                "EmployerAddress": EmployerAddress,
                "EmployerPObox": EmployerPObox,
                "EmployerCity": EmployerCity,
                "EmployerState": EmployerState,
                "EmployerZipCode": EmployerZipCode,
                "EmployerPhoneNumber": EmployerPhoneNumber,
            }

            var ret = postData('DeleteConfirmed', data)
                .then(data => DeleteConfirm(data))
                .catch(error => console.error(error))
        })

    })

    function DeleteConfirm(sp) {
        document.querySelector("#Employee_id").value = sp.Employee_id;
        document.querySelector("#FirstName").value = sp.FirstName;
        document.querySelector("#LastName").value = sp.LastName;
        document.querySelector("#DateOfBirth").value = sp.DateOfBirth;
        document.querySelector("#Gender").value = sp.Gender;
        document.querySelector("#MailingAddress").value = sp.MailingAddress;
        document.querySelector("#City").value = sp.City;
        document.querySelector("#State").value = sp.State;
        document.querySelector("#ZipCode").value = sp.ZipCode;
        document.querySelector("#County").value = sp.County;
        document.querySelector("#PhysicalAddress").value = sp.PhysicalAddress;
        document.querySelector("#PObox2").value = sp.PObox2;
        document.querySelector("#City2").value = sp.City2;
        document.querySelector("#State2").value = sp.State2;
        document.querySelector("#ZipCode2").value = sp.ZipCode2;
        document.querySelector("#County2").value = sp.County2;
        document.querySelector("#CityLimits").value = sp.CityLimits;
        document.querySelector("#EmailAddress").value = sp.EmailAddress;
        document.querySelector("#PhoneNumber").value = sp.PhoneNumber;
        document.querySelector("#CellPhone").value = sp.CellPhone;
        document.querySelector("#CurrentEmployer").value = sp.CurrentEmployer;
        document.querySelector("#EmployerMailingAddress").value = sp.EmployerAddress;
        document.querySelector("#EmployerPObox").value = sp.EmployerPObox;
        document.querySelector("#EmployerCity").value = sp.EmployerCity;
        document.querySelector("#EmployerState").value = sp.EmployerState;
        document.querySelector("#EmployerZipCode").value = sp.EmployerZipCode;
        document.querySelector("#EmployerPhoneNumber").value = sp.EmployerPhoneNumber;
    }

    function postData(url, data) {
        //Default options are marked with *
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Delete', //*GET, POST, PUT, DELETE, etc...
            mode: 'cors', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        })
            .then(Response => Response.json()) //parses response to JSON
    }

    
</script>

