@{
    ViewBag.Title = "DeleteSp";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Delete</title>
</head>
<body>
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="divSpDelete">Delete Information?</div>
        <div class="content" disabled>
            <p></p>
            <p></p>
            <dl class="dl-horizontal">
                <dt>
                    <label class="col-md-2 control-label">Relationship to Employee:</label>
                </dt>
                <dd>
                    <input type="number" id="RelationshipToInsured" class="form-control" name="RelationshipToInsured" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">First Name:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="FirstName" class="form-control" name="FirstName" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Last Name:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="LastName" class="form-control" name="LastName" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Date of Birth:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="DateOfBirth" class="form-control" name="DateOfBirth" value="">
                    @*@Convert.ToDateTime(Model.DateOfBirth).ToString("MM/dd/yyyy")*@
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Gender:</label>
                </dt>
                <dd class="col-md-10">
                    <label class="radio-inline"><input disabled type="radio" id="Male" class="radio-inline" name="Gender" value="M" @((Model.Gender == "M") ? "checked" : "") />Male</label>
                    <label class="radio-inline"><input disabled type="radio" id="Female" class="radio-inline" name="Gender" value="F" @((Model.Gender == "F") ? "checked" : "") />Female</label>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Mailing Address:</label>
                </dt>
                <dd class="col-md-10">
                    <text type="text" id="MailingAddress" class="form-control" name="MailingAddress" value="" />
                    <text type="text" id="PObox" class="form-control" name="PObox" value="" />
                    <text type="text" id="City" class="form-control" name="City" value="" />
                    <text type="text" id="State" class="form-control" name="State" value="" />
                    <text type="text" id="ZipCode" class="form-control" name="ZipCode" value="" />
                    <text type="text" id="County" class="form-control" name="County" value="" />
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Physical Address:</label>
                </dt>
                <dd class="col-md-10">
                    <text type="text" id="PhysicalAddress" class="form-control" name="PhysicalAddress" value="" />
                    <text type="text" id="PObox2" class="form-control" name="PObox" value="" />
                    <text type="text" id="City2" class="form-control" name="City" value="" />
                    <text type="text" id="State2" class="form-control" name="State" value="" />
                    <text type="text" id="ZipCode2" class="form-control" name="ZipCode" value="" />
                    <text type="text" id="County2" class="form-control" name="County" value="" />
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Within City Limits?</label>
                </dt>
                <dd class="col-md-10">
                    <label class="radio-inline"><input disabled type="radio" id="YesCityLimits" class="radio-inline" name="CityLimits" value="true" @((Model.CityLimits == true) ? "checked" : "") />Yes</label>
                    <label class="radio-inline"><input disabled type="radio" id="NoCityLimits" class="radio-inline" name="CityLimits" value="false" @((Model.CityLimits == false) ? "checked" : "") />No</label>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Email:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="EmailAddress" class="form-control" name="EmailAddress" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Phone Number:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="PhoneNumber" class="form-control" name="PhoneNumber" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Cell Phone:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="CellPhone" class="form-control" name="CellPhone" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Current Employer:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="CurrentEmployer" class="form-control" name="Employer" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Employer Address:</label>
                </dt>
                <dd class="col-md-10">
                    <text type="text" id="EmployerMailingAddress" class="form-control" name="EmployerMailingAddress" value="" />
                    <text type="text" id="EmployerCity" class="form-control" name="EmployerCity" value="" />
                    <text type="text" id="EmployerState" class="form-control" name="EmployerState" value="" />
                    <text type="text" id="EmployerZipCode" class="form-control" name="EmployerZipCode" value="" />
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Employer Phone Number:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="EmployerPhoneNumber" class="form-control" name="EmployerPhoneNumber" value="">
                </dd>
            </dl>
        </div>
    </div>
    <div class="form-actions no-color">
        <button type="submit" id="confirmDelete" value="Delete" class="btn" data-toggle="confirmation">Delete</button> |
        @Html.ActionLink("Back to List", "FamilyMemberOverview")
    </div>
</body>
</html>

<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .hide {
        display: none;
    }

    .previous {
        background-color: #333;
        color: white;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .phone-number .col-xs-3::after {
        content: "-";
        position: absolute;
        right: 5px;
        color: black;
        border: 0px solid;
        top: 8px;
    }

    .phone-number .col-xs-4 {
        width: 25%;
    }

    .phone-number .col-xs-3, .phone-number .col-xs-4 {
        padding-left: 0;
    }
</style>

<script>

    //add confirmDelte function and a prompt to asking
    //if you are sure you want to delete this


    var col = document.querySelectorAll(".collapsible");
    var i;

    for (i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }

        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#confirmDelete").addEventListener("click", function () {
            RelationshipToInsured = document.getElementById("RelationshipToInsured").value;;
            FirstName = document.getElementById("FirstName").value;
            LastName = document.getElementById("LastName").value;
            DateOfBirth = document.getElementById("DateOfBirth").value;

            Gender = document.querySelectorAll('input [name = "Gender"]').forEach(function (e, i) {
                if (e.checked) {
                    Gender = e.value;
                }
            });
   
            MailingAddress = document.getElementsById("MailingAddress").value;
            PObox = document.getElementById("PObox").value;
            City = document.getElementById("City").value;
            State = document.getElementById("State").value;
            ZipCode = document.getElementById("ZipCode").value;
            County = document.getElementById("County").value;
            PhyscialAddress = document.getElementsById("PhyscialAddress").value;
            PObox2 = document.getElementById("PObox2").value;
            City2 = document.getElementById("City2").value;
            State2 = document.getElementById("State2").value;
            ZipCode2 = document.getElementById("ZipCode2").value;
            County2 = document.getElementById("County2").value;
            EmailAddress = document.getElementById("EmailAddress").value;
            PhoneNumber = document.getElementById("PhoneNumber").value;
            CellPhone = document.getElementById("CellPhone").value;

            CityLimits = document.querySelectorAll('input ["CityLimits"]').forEach(function (e, i) {
                if (e.checked) {
                    CityLimits = e.value;
                }
            });

            CurrentEmployer = document.getElementById("Employer").value;
            EmployerAddress = document.getElementById("EmployerMailingAddress").value;
            EmployerCity = document.getElementById("EmployerCity").value;
            EmployerState = document.getElementById("EmployerState").value;
            EmployerZipCode = document.getElementById("EmployerZipCode").value;
            EmployerPhoneNumber = document.getElementById("EmployerPhoneNumber").value;

            var data = {
                "FirstName": FirstName,
                "LastName": LastName,
                "DateOfBirth": DateOfBirth,
                "Gender": Gender,
                "MailingAddress": MailingAddress,
                "City": City,
                "State": State,
                "ZipCode": ZipCode,
                "County": County,
                "PhysicalAddress": PhyscialAddress,
                "PObox2": PObox2,
                "City2": City2,
                "State2": State2,
                "ZipCode2": ZipCode2,
                "County2": County2,
                "CityLimits": CityLimits,
                "EmailAddress": EmailAddress,
                "PhoneNumber": PhoneNumber,
                "CellPhone": CellPhone,
                "CurrentEmployer": CurrentEmployer,
                "EmployerAddress": EmployerAddress,
                "EmployerCity": EmployerCity,
                "EmployerState": EmployerState,
                "EmployerZipCode": EmployerZipCode,
                "EmployerPhoneNumber": EmployerPhoneNumber,
            }

            var ret = postData('DeleteConfirmed', data)
                .then(data => DeleteConfirm(data))
                .catch(error => console.error(error))
        })

        function DeleteConfirm(sp) {
            document.querySelector("FirstName").value = sp.FirstName;
            document.querySelector("LastName").value = id;
            document.querySelector("DateOfBirth").value = id;
            document.querySelector("Gender").value = id;
            document.querySelector("MailingAddress").value = id;
            document.querySelector("City").value = id;
            document.querySelector("State").value = id;
            document.querySelector("ZipCode").value = id;
            document.querySelector("County").value = id;
            document.querySelector("PhysicalAddress").value = id;
            document.querySelector("PObox2").value = id;
            document.querySelector("City2").value = id;
            document.querySelector("State2").value = id;
            document.querySelector("ZipCode2").value = id;
            document.querySelector("County2").value = id;
            document.querySelector("CityLimits").value = id;
            document.querySelector("EmailAddress").value = id;
            document.querySelector("PhoneNumber").value = id;
            document.querySelector("CellPhone").value = id;
            document.querySelector("CurrentEmployer").value = id;
            document.querySelector("EmployerMailingAddress").value = id;
            document.querySelector("EmployerCity").value = id;
            document.querySelector("EmployerState").value = id;
            document.querySelector("EmployerZipCode").value = id;
            document.querySelector("EmployerPhoneNumber").value = id;
        }

    })
</script>

