@model Watson.Models.Family_Info


@{
    @ViewBag.Title = "SpouseEmployment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Spouse Employment</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.FamilyMember_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <hr />
            <h4>Spouse Employment</h4>
            <div class="content">
                @*<form action="/api/Family_Info/SpouseEmployment" method="post">*@
                    <div id="divSpouseEmployment">
                        <div class="form-group">
                            <label for="Employer" class="col-md-2 control-label">Current Employer:</label>
                            <div class="col-md-10">
                                <input type="text" id="Employer" class="form-control" name="Employer" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerAddress" class="col-md-2 control-label">Employer Address:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerAddress" class="form-control" name="EmployerAddress" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerCity" class="col-md-2 control-label">City:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerCity" class="form-control" name="EmployerCity" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerState" class="col-md-2 control-label">State:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerState" class="form-control" name="EmployerState" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerZipCode" class="col-md-2 control-label">Zip Code:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerZipCode" class="form-control" name="EmployerZipCode" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerPhoneNumber" class="col-md-2 control-label">Phone Number:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerPhoneNumber" class="form-control" name="EmployerPhoneNumber" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" onclick="SpouseEmployment()" class="btn btn-primary" />
                        </div>
                    </div>
                @*</form>*@
            </div>
        </div>
    }

    <div>
        <button onclick="location.href='Family_Info/SpouesContact'" value="Previous" class="btn btn-secondary" /> |
        <button onclick="location.href='Family_Info/FamilyMemberOverview'" value="Finished" class="btn btn-secondary" />
    </div>
    <p>
        @Html.ActionLink("Back to Family Overview", "FamilyMemberOverview")
    </p>
</body>
</html>

<script>
    function SpouseEmployment() {

        Employer = document.getElementById("Employer").value;
        EmployerAddress = document.getElementById("EmployerAddress").value;
        EmployerCity = document.getElementById("EmployerCity").value;
        EmployerState = document.getElementById("EmployerState").value;
        EmployerZipCode = document.getElementById("EmployerZipCode").value;
        EmployerPhoneNumber = document.getElementById("EmployerPhoneNumber").value;

        postData('/Family_Info/SpouseEmployment', {
            Employer: Employer, EmployerAddress: EmployerAddress, EmployerCity: EmployerCity,
            EmployerState: EmployerState, EmployerZipCode: EmployerZipCode, EmployerPhoneNumber: EmployerPhoneNumber

        })
            .then(data => SpouseEmployment(data))
            .catch(error => error.console(error))

    }

    function postData(url, data) {
        return fetch(url, {
            body: JSON.stringify(data),
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'cors', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer

        })
    }
</script>
