@model Watson.Models.Family_Info


@{
    @ViewBag.Title = "FamilyMemberEnrollment";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Family Enrollment Page</title>
</head>
<body onload="SpouseAndORDependent()">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.FamilyMember_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <hr />
            <button><h4>Spouse Enrollment</h4></button>
            <div class="content">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" onclick="location.href='SpouseEnrollment'" id="SpouseEnrollment" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.FamilyMember_id }) |*@
            @Html.ActionLink("Back to Family Enrollment", "FamilyMemberEnrollment")
        </p>
        <div class="form-horizontal">
            <hr />
            <button><h4>Dependent Enrollment</h4></button>
            <div class="content">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" onclick="location.href='DependentEnrollment'" id="DependentEnrollment" class="btn btn-outline-primary" />     
                    </div>
                </div>
            </div>
        </div>
    }
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.FamilyMember_id }) |*@
        @Html.ActionLink("Back to Family Enrollment", "FamilyMemberEnrollment")
    </p>
</body>
</html>
