@model Watson.Models.Family_Info


@{
    @ViewBag.Title = "SpouseEmployment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Spouse Employment</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.FamilyMember_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <hr />
            <h4>Spouse Employment</h4>
            <div class="content">
                <form action="/api/Family_Info/SpouseEmployment" method="post">
                    <div id="divSpouseEmployment">
                        <div class="form-group">
                            <label for="CurrentEmployer" class="col-md-2 control-label">Current Employer:</label>
                            <div class="col-md-10">
                                <input type="text" id="CurrentEmployer" class="form-control" name="CurrentEmployer" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerAddress" class="col-md-2 control-label">Employer Address:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerAddress" class="form-control" name="EmployerAddress" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerCity" class="col-md-2 control-label">City:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerCity" class="form-control" name="EmployerCity" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerState" class="col-md-2 control-label">State:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerState" class="form-control" name="EmployerState" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerZipCode" class="col-md-2 control-label">Zip Code:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerZipCode" class="form-control" name="EmployerZipCode" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerPhoneNumber" class="col-md-2 control-label">Phone Number:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerPhoneNumber" class="form-control" name="EmployerPhoneNumber" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" onclick="return SpouseEmployment()" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }

    <div>
        <input type="submit" onclick="location.href='api/Family_Info/SpouesContact'" value="Previous" class="btn btn-default" /> |
        <input type="submit" onclick="location.href='api/Family_Info/DependentEnrollment'" value="Continue" class="btn btn-default" />
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FamilyMember_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
