@model Watson.Models.Employee


@{
    @ViewBag.Title = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Contact</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.User_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <hr />
            <h4>Employee Contact</h4>
            <div class="content">
                @*<form action="/api/Employee/Contact" method="post">*@
                    <div id="divEmpContact">
                        <div class="form-group">
                            <label for="MailingAddress" class="col-md-2 control-label">Mailing Address:</label>
                            <div class="col-md-10">
                                <input type="text" id="MailingAddress" class="form-control" name="MailingAddress" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PhysicalAddress" class="col-md-2 control-label">Physical Address:</label>
                            <div class="col-md-10">
                                <input type="text" id="PhysicalAddress" class="form-control" name="PhysicalAddress" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="City" class="col-md-2 control-label">City:</label>
                            <div class="col-md-10">
                                <input type="text" id="City" class="form-control" name="City" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="State" class="col-md-2 control-label">State:</label>
                            <div class="col-md-10">
                                <input type="text" id="State" class="form-control" name="State" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ZipCode" class="col-md-2 control-label">Zip Code:</label>
                            <div class="col-md-10">
                                <input type="text" id="ZipCode" class="form-control" name="ZipCode" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="County" class="col-md-2 control-label">County:</label>
                            <div class="col-md-10">
                                <input type="text" id="County" class="form-control" name="County" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CityLimits" class="col-md-2 control-label">Within City Limits?</label>
                            <div class="col-md-10">
                                <label class="radio-inline"><input type="radio" id="YesCityLimits" class="radio-inline" name="CityLimits" value="true" checked />Yes</label>
                                <label class="radio-inline"><input type="radio" id="NoCityLimits" class="radio-inline" name="CityLimits" value="false" />No</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmailAddress" class="col-md-2 control-label">Email:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmailAddress" class="form-control" name="EmailAddress" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber" class="col-md-2 control-label">Phone Number:</label>
                            <div class="col-md-10">
                                <input type="text" id="PhoneNumber" class="form-control" name="PhoneNumber" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CellPhone" class="col-md-2 control-label">Cell Phone:</label>
                            <div class="col-md-10">
                                <input type="text" id="CellPhone" class="form-control" name="CellPhone" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<input type="submit" value="Save" onclick="return Contact()" class="btn btn-default" />*@
                            <button type="submit" class="btn btn-outline-primary" onclick="Contact();">Save</button>
                        </div>
                    </div>
                @*</form>*@
            </div>
        </div>
    }

    <div>
        <input type="button" onclick="location.href='api/Employee/EmployeeEnrollment'" @*onclick="location.href='api/Employee/EmployeeEnrollment'"*@ value="Previous" class="btn btn-outline-secondary" /> |
        <input type="button" onclick="location.href='api/Family_Info/FamilyMemberEnrollment'" @*onclick="location.href='api/Family_Info/FamilyMemberEnrollment'"*@ value="Continue" class="btn btn-outline-secondary" />
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.User_id }) |
        @Html.ActionLink("Back to Overview", "EmployeeOverview")
    </p>
</body>
</html>

<script>
    function Contact() {
        MailingAddress = document.getElementsByName("MailingAddress").element;
        PhyscialAddress = document.getElementsByName("PhyscialAddress").element;
        City = document.getElementById("City").value;
        State = document.getElementById("State").value;
        ZipCode = document.getElementById("ZipCode").value;
        County = document.getElementById("County").value;
        CityLimits = document.getElementsByName("CityLimits").element;
        Email = document.getElementById("EmailAddress").value;
        Phone = document.getElementById("PhoneNumber").value;
        Cell = document.getElementById("CellPhone").value;

        postData('/postUser', {
            MailingAddress: MailingAddress, PhyscialAddress: PhyscialAddress, City: City, State: State,
            ZipCode: ZipCode, CityLimits: CityLimits, Email: Email, Phone: Phone, Cell: Cell
        })
            .then(data => Contact(data))
            .catch(error => console.error(error))
    }

    function postData(url, data) {
        //Default options are marked with *
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'cors', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        })
            .then(Response => Response.json()) //parses response to JSON
    }
</script>

@*<body> EXAMPLE
        This is a post.  It will actually take you to another page<br />
        <div>
            <form method="post" action="/postUser">
                <label for="firstname">First Name: </label><input type="text" name="firstname" /><br />
                <label for="lastname">Last Name: </label><input type="text" name="lastname" /><br />
                <label for="age">Age: </label><input type="number" name="age" /><br />
                <input type="submit" /><br />
            </form>
        </div>
        <div>
            This is not a post.  This uses Javascript to post the data behind the scenes<br />
            <label for="fname">First Name: </label><input type="text" name="fname" id="fname" /><br />
            <label for="lname">Last Name: </label><input type="text" name="lname" id="lname" /><br />
            <label for="a">Age: </label><input type="number" name="a" id="a" /><br />
            <button onclick="submitUser();">Submit</button><br />
        </div>
    </body>*@