
@{
    ViewBag.Title = "DeleteEmp";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>Delete</title>
</head>
<body>
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="divEmpDelete">Delete Information?</div>
        <div class="content" disabled>
            <p></p>
            <p></p>
            <dl class="dl-horizontal">
                <dt>
                    <label class="col-md-2 control-label">Employee Role:</label>
                </dt>
                <dd>
                    <input type="text" id="EmployeeRole" class="form-control" name="EmployeeRole" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Current Employer:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="text" id="CurrentEmployer" class="form-control" name="CurrentEmployer" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Job Title:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="JobTitle" class="form-control" name="JobTitle" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Employee Number:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="EmpNumber" class="form-control" name="SSN" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">First Name:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="FirstName" class="form-control" name="FirstName" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Last Name:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="LastName" class="form-control" name="LastName" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Date of Birth:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="DateOfBirth" class="form-control" name="DateOfBirth" value="">
                    @*@Convert.ToDateTime(Model.DateOfBirth).ToString("MM/dd/yyyy")*@
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Gender:</label>
                </dt>
                <dd class="col-md-10">
                    <label class="radio-inline"><input disabled type="radio" id="Male" class="radio-inline" name="Gender" value="M" @((Model.Gender == "M") ? "checked" : "") />Male</label>
                    <label class="radio-inline"><input disabled type="radio" id="Female" class="radio-inline" name="Gender" value="F" @((Model.Gender == "F") ? "checked" : "") />Female</label>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Marital Status:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="MaritalStatus" class="form-control" name="MaritalStatus" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Mailing Address:</label>
                </dt>
                <dd class="col-md-10">
                    <text type="text" id="MailingAddress" class="form-control" name="MailingAddress" value="" />
                    <text type="text" id="PObox" class="form-control" name="PObox" value="" />
                    <text type="text" id="City" class="form-control" name="City" value="" />
                    <text type="text" id="State" class="form-control" name="State" value="" />
                    <text type="text" id="ZipCode" class="form-control" name="ZipCode" value="" />
                    <text type="text" id="County" class="form-control" name="County" value="" />
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Physical Address:</label>
                </dt>
                <dd class="col-md-10">
                    <text type="text" id="PhysicalAddress" class="form-control" name="PhysicalAddress" value="" />
                    <text type="text" id="PObox2" class="form-control" name="PObox" value="" />
                    <text type="text" id="City2" class="form-control" name="City" value="" />
                    <text type="text" id="State2" class="form-control" name="State" value="" />
                    <text type="text" id="ZipCode2" class="form-control" name="ZipCode" value="" />
                    <text type="text" id="County2" class="form-control" name="County" value="" />
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Within City Limits?</label>
                </dt>
                <dd class="col-md-10">
                    <label class="radio-inline"><input disabled type="radio" id="YesCityLimits" class="radio-inline" name="CityLimits" value="true" @((Model.CityLimits == true) ? "checked" : "") />Yes</label>
                    <label class="radio-inline"><input disabled type="radio" id="NoCityLimits" class="radio-inline" name="CityLimits" value="false" @((Model.CityLimits == false) ? "checked" : "") />No</label>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Email:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="EmailAddress" class="form-control" name="EmailAddress" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Phone Number:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="PhoneNumber" class="form-control" name="PhoneNumber" value="">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Cell Phone:</label>
                </dt>
                <dd class="col-md-10">
                    <input type="number" id="CellPhone" class="form-control" name="CellPhone" value="">
                </dd>
            </dl>
        </div>
    </div>
    <div class="form-actions no-color">
        <button type="submit" id="confirmDelete" value="Delete" class="btn" data-toggle="confirmation">Delete</button> |
        @Html.ActionLink("Back to List", "EmpOverview")
    </div>
</body>
</html>

<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .hide {
        display: none;
    }

    .previous {
        background-color: #333;
        color: white;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .phone-number .col-xs-3::after {
        content: "-";
        position: absolute;
        right: 5px;
        color: black;
        border: 0px solid;
        top: 8px;
    }

    .phone-number .col-xs-4 {
        width: 25%;
    }

    .phone-number .col-xs-3, .phone-number .col-xs-4 {
        padding-left: 0;
    }
</style>

<script>

    //add confirmDelte function and a prompt to asking
    //if you are sure you want to delete this


    var col = document.querySelectorAll(".collapsible");
    var i;
    var Employee_id;

    for (i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }

        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#confirmDelete").addEventListener("click", function () {
            CurrentEmployer = document.getElementById("CurrentEmployer").value;
            JobTitle = document.getElementById("JobTitle").value;
            EmpNumber = document.getElementById("SSN").value;
            MaritalStatus = document.getElementsByName("MaritalStatus").value;
            FirstName = document.getElementById("FirstName").value;
            LastName = document.getElementById("LastName").value;
            DateOfBirth = document.getElementById("DateOfBirth").value;

            Gender = document.querySelectorAll('input [name = "Gender"]').forEach(function (e, i) {
                if (e.checked) {
                    Gender = e.value;
                }
            });

            EmployeeRole = document.querySelectorAll('input [name = "EmployeeRole"]').forEach(function (e, i) {
                if (e.checked) {
                    EmployeeRole = e.value;
                }
            });

            Employee_id = document.getElementById("Employee_id").value;
            MailingAddress = document.getElementById("MailingAddress").value;
            PObox = document.getElementById("PObox").value;
            City = document.getElementById("City").value;
            State = document.getElementById("State").value;
            ZipCode = document.getElementById("ZipCode").value;
            County = document.getElementById("County").value;
            PhysicalAddress = document.getElementById("PhysicalAddress").value;
            PObox2 = document.getElementById("PObox2").value;
            City2 = document.getElementById("City2").value;
            State2 = document.getElementById("State2").value;
            ZipCode2 = document.getElementById("ZipCode2").value;
            County2 = document.getElementById("County2").value;
            EmailAddress = document.getElementById("EmailAddress").value;
            PhoneNumber = document.getElementById("PhoneNumber").value;
            CellPhone = document.getElementById("CellPhone").value;
            CityLimits = document.querySelectorAll('input ["CityLimits"]').forEach(function (e, i) {
                if (e.checked) {
                    CityLimits = e.value;
                }
            });

            var data = {
                "Employee_id": Employee_id,
                "EmployeeRole": EmployeeRole,
                "CurrentEmployer": CurrentEmployer,
                "JobTitle": JobTitle,
                "EmpNumber": EmpNumber,
                "MaritalStatus": MaritalStatus,
                "FirstName": FirstName,
                "LastName": LastName,
                "DateOfBirth": DateOfBirth,
                "Gender": Gender,
                "MailingAddress": MailingAddress,
                "City": City,
                "State": State,
                "ZipCode": ZipCode,
                "County": County,
                "PhysicalAddress": PhysicalAddress,
                "PObox2": PObox2,
                "City2": City2,
                "State2": State2,
                "ZipCode2": ZipCode2,
                "County2": County2,
                "CityLimits": CityLimits,
                "EmailAddress": EmailAddress,
                "PhoneNumber": PhoneNumber,
                "CellPhone": CellPhone,
            }

            var ret = postData('DeleteConfirmed', data)
                .then(data => DeleteConfirm(data))
                .catch(error => console.error(error))
        })
    })

    function DeleteConfirm(emp) {
        document.querySelector("Employee_id").value = emp.Employee_id;
        document.querySelector("EmployeeRole").value = emp.EmployeeRole;
        document.querySelector("CurrentEmployer").value = emp.CurrentEmployer;
        document.querySelector("JobTitle").value = emp.JobTitle;
        document.querySelector("EmpNumber").value = emp.EmpNumber;
        document.querySelector("MaritalStatus").value = emp.MaritalStatus;
        document.querySelector("FirstName").value = emp.FirstName;
        document.querySelector("LastName").value = emp.LastName;
        document.querySelector("DateOfBirth").value = emp.DateOfBirth;
        document.querySelector("Gender").value = emp.Gender;
        document.querySelector("MailingAddress").value = emp.MailingAddress;
        document.querySelector("City").value = emp.City;
        document.querySelector("State").value = emp.State;
        document.querySelector("ZipCode").value = emp.ZipCode;
        document.querySelector("County").value = emp.County;
        document.querySelector("PhysicalAddress").value = emp.PhysicalAddress;
        document.querySelector("PObox2").value = emp.PObox2;
        document.querySelector("City2").value = emp.City2;
        document.querySelector("State2").value = emp.State2;
        document.querySelector("ZipCode2").value = emp.ZipCode2;
        document.querySelector("County2").value = emp.County2;
        document.querySelector("CityLimits").value = emp.CityLimits;
        document.querySelector("EmailAddress").value = emp.EmailAddress;
        document.querySelector("PhoneNumber").value = emp.PhoneNumber;
        document.querySelector("CellPhone").value = emp.CellPhone;
        Employee_id = emp.data;
    }

    function postData(url, data) {
        //Default options are marked with *
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'cors', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        })
            .then(Response => Response.json()) //parses response to JSON
    }
    
</script>