@model Watson.Models.Employee
@{
    ViewBag.Title = "EmpDetail";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Employee Detail</title>
</head>
<body>
    <div class="form-horizontal">
        <hr />
        <input type="hidden" id="Employee_id" class="form-control" name="Employee_id"/>
        <div class="collapsible" id="EmpDetail">Employee Detail</div>
        <div class="content">
            <p></p>
            <p></p>
            <dl class="dl-horizontal">
                <dt>
                    <label class="col-md-2 control-label">Employee Role:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="Role" class="form-control" name="CurrentEmployer" value="@Html.DisplayFor(model => model.EmployeeRole)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Current Employer:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="CurrentEmployer" class="form-control" name="CurrentEmployer" value="@Html.DisplayFor(Model => Model.CurrentEmployer)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Job Title:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="JobTitle" class="form-control" name="JobTitle" value="@Html.DisplayFor(Model => Model.JobTitle)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Employee Number:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="EmpNumber" class="form-control" name="SSN" value="@Html.DisplayFor(Model => Model.SSN)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">First Name:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="FirstName" class="form-control" name="FirstName" value="@Html.DisplayFor(Model => Model.FirstName)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Last Name:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="LastName" class="form-control" name="LastName" value="@Html.DisplayFor(Model => Model.LastName)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Date of Birth:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="date" id="DateOfBirth" class="form-control" name="DateOfBirth" value="@Convert.ToDateTime(Model.DateOfBirth).ToString("yyyy-MM-dd")" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Gender:</label>
                </dt>
                <dd class="col-md-10 form-group" id="Gender">
                    <label class="radio-inline"><input disabled type="radio" id="Male"   class="radio-inline" name="Gender" value="Male"   @((ViewBag.Gender == "Male") ? "selected" : "") />Male</label>
                    <label class="radio-inline"><input disabled type="radio" id="Female" class="radio-inline" name="Gender" value="Female" @((ViewBag.Gender == "Female") ? "selected" : "") />Female</label>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Marital Status:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="MaritalStatus" class="form-control" name="MaritalStatus" value="@Html.DisplayFor(Model => Model.MaritalStatus)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">MailingAddress:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="MailingAddress" class="form-control" name="MailingAddress" value="@Html.DisplayFor(Model => Model.MailingAddress)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">PObox:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="PObox" class="form-control" name="PObox" value="@Html.DisplayFor(Model => Model.PObox)">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">City:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="City" class="form-control" name="City" value="@Html.DisplayFor(Model => Model.City)">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">State:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="State" class="form-control" name="State" value="@Html.DisplayFor(Model => Model.State)">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">ZipCode:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="ZipCode" class="form-control" name="ZipCode" value="@Html.DisplayFor(Model => Model.ZipCode)">
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Within City Limits?</label>
                </dt>
                <dd class="col-md-10 form-group" id="CityLimits">
                    <label class="radio-inline"><input type="radio" id="YesCityLimits" class="radio-inline" name="CityLimits" value="Yes" @((ViewBag.CityLimits == "Yes") ? "selected" : "") />Yes</label>
                    <label class="radio-inline"><input type="radio" id="NoCityLimits"  class="radio-inline" name="CityLimits" value="No"  @((ViewBag.CityLimits == "No" ) ? "selected" : "") />No</label>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Physical Address:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="PhysicalAddress" class="form-control" name="PhysicalAddress" value="@Html.DisplayFor(Model => Model.PhysicalAddress)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">City:Not pulling City2</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="City2" class="form-control" name="City" value="@Html.DisplayFor(Model => Model.City)" >
                </dd>
                <dt>
                    <label class="col-md-2 control-label">State:Not pulling State2</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="State2" class="form-control" name="State" value="@Html.DisplayFor(Model => Model.State)" >
                </dd>
                <dt>
                    <label class="col-md-2 control-label">ZipCode:Not pulling ZipCode2</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="ZipCode2" class="form-control" name="ZipCode" value="@Html.DisplayFor(Model => Model.ZipCode)" >
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Email:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="text" id="EmailAddress" class="form-control" name="EmailAddress" value="@Html.DisplayFor(Model => Model.EmailAddress)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Phone Number:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="tel" id="PhoneNumber" class="form-control" name="PhoneNumber" value="@Html.DisplayFor(Model => Model.PhoneNumber)" disabled>
                </dd>
                <dt>
                    <label class="col-md-2 control-label">Cell Phone:</label>
                </dt>
                <dd class="col-md-10 form-group">
                    <input type="tel" id="CellPhone" class="form-control" name="CellPhone" value="@Html.DisplayFor(Model => Model.CellPhone)" disabled>
                </dd>
            </dl>
        </div>
    </div>
    <p>
        
        @Html.ActionLink("Edit", "EditEmp", "Employee", new { Employee_id = Model.Employee_id }, null)|
        @Html.ActionLink("Back to List", "EmpOverview")
    </p>
</body>
</html>

<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }
</style>

<script>
    var col = document.querySelectorAll(".collapsible");
    var i;
    var emp_id;

    for (i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }

        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        CurrentEmployer = document.getElementById("CurrentEmployer").value;
        JobTitle = document.getElementById("JobTitle").value;
        EmpNumber = document.getElementById("EmpNumber").value;
        FirstName = document.getElementById("FirstName").value;
        LastName = document.getElementById("LastName").value;
        DateOfBirth = document.getElementById("DateOfBirth").value;
        MaritalStatus = document.getElementById("MaritalStatus").value;
        Gender = document.getElementById("Gender").value;
        MailingAddress = document.getElementById("MailingAddress").value;
        PObox = document.getElementById("PObox").value;
        City = document.getElementById("City").value;
        State = document.getElementById("State").value;
        ZipCode = document.getElementById("ZipCode").value;
        CityLimits = document.getElementId("CityLimits").value;
        PhysicalAddress = document.getElementById("PhysicalAddress").value;
        City2 = document.getElementById("City2").value;
        State2 = document.getElementById("State2").value;
        ZipCode2 = document.getElementById("ZipCode2").value;
        EmailAddress = document.getElementById("EmailAddress").value;
        PhoneNumber = document.getElementById("PhoneNumber").value;
        CellPhone = document.getElementById("CellPhone").value;

        var data = {
            "Employee_id": emp_id,
            "CurrentEmployer": CurrentEmployer,
            "JobTitle": JobTitle,
            "EmpNumber": EmpNumber,
            "MaritalStatus": MaritalStatus,
            "FirstName": FirstName,
            "LastName": LastName,
            "DateOfBirth": DateOfBirth,
            "Gender": Gender,
            "MailingAddress": MailingAddress,
            "PObox": PObox,
            "City": City,
            "State": State,
            "ZipCode": ZipCode,
            "PhysicalAddress": PhysicalAddress,
            "City2": City2,
            "State2": State2,
            "ZipCode2": ZipCode2,
            "CityLimits": CityLimits,
            "EmailAddress": EmailAddress,
            "PhoneNumber": PhoneNumber,
            "CellPhone": CellPhone,
        }

        var ret = postData('GetEmpDetail', data)
            .then(data => FirstStep(data))
            .catch(error => console.error(error))

    })

    function FirstStep(emp) {
        document.querySelector("#EmpDetail").nextElementSibling.style.display = "none";
        //emp_id = emp.data;
        //document.querySelector("#Employee_id").value = emp.Employee_id;
        //document.querySelector("#CurrentEmployer").value = emp.CurrentEmployer;
        //document.querySelector("#JobTitle").value = emp.JobTitle;
        //document.querySelector("#EmpNumber").value = emp.EmpNumber;
        //document.querySelector("#MaritalStatus").value = emp.MaritalStatus;
        //document.querySelector("#FirstName").value = emp.FirstName;
        //document.querySelector("#LastName").value = emp.LastName;
        //document.querySelector("#DateOfBirth").value = emp.DateOfBirth;
        //document.querySelector("#Gender").value = emp.Gender;
        //document.querySelector("#MailingAddress").value = emp.MailingAddress;
        //document.querySelector("#PObox").value = emp.PObox;
        //document.querySelector("#City").value = emp.City;
        //document.querySelector("#State").value = emp.State;
        //document.querySelector("#ZipCode").value = emp.ZipCode;
        //document.querySelector("#County").value = emp.County;
        //document.querySelector("#CityLimits").value = emp.CityLimits;
        //document.querySelector("#PhysicalAddress").value = emp.PhysicalAddress;
        //document.querySelector("#PObox2").value = emp.PObox2;
        //document.querySelector("#City2").value = emp.City2;
        //document.querySelector("#State2").value = emp.State2;
        //document.querySelector("#ZipCode2").value = emp.ZipCode2;
        //document.querySelector("#County2").value = emp.County2;
        //document.querySelector("#EmailAddress").value = emp.EmailAddress;
        //document.querySelector("#PhoneNumber").value = emp.PhoneNumber;
        //document.querySelector("#CellPhone").value = emp.CellPhone;
    }

    function postData(url, data) {
        //Default options are marked with *
        console.log(data);
        console.log(JSON.stringify(data));
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'Accept': 'application/json',
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'same-origin', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
        //.then(Response => {
        //    console.log(Response);
        //    Response.json();
        //}) //parses response to JSON
    }
</script>



