@model Watson.Models.Employee


@{
    @ViewBag.Title = "Insurance";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insurance Overview</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Employee_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <hr />
            <button class="collapsible"><h4>Group Health Insurance</h4></button>
            <div class="content">
                <form action="Insurance()" method="post">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="GroupHealthInsurance" onclick="GroupHealthInsurance()" class="btn" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <p>
            @Html.ActionLink("EditGroupHealth", "", new { id = Model.Employee_id }) |
            @Html.ActionLink("Back to HomePage", "EmployeeOverview", new { id = Model.Employee_id })
        </p>

        <div class="form-horizontal">
            <hr />
            <button class="collapsible"><h4>Life Insurance</h4></button>
            <div class="content">
                <form action="/api/Employee/Insurance" method="post">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="LifeInsurance" onclick="LifeInsurance()" id="submit" class="btn" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <p>
            @Html.ActionLink("EditLifeInsurance", "", new { id = Model.Employee_id}) |
            @Html.ActionLink("Back to HomePage", "EmployeeOverview", new { id = Model.Employee_id })
        </p>
    }
</body>
</html>

<script>
    var col = document.getElementByClassName("collapsible");
    var i;

    for (var i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");

            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            }
            else
                content.style.display = "block"
        });
    }
</script>

<script>
    function GroupHealthInsurance() {

        location.href = "location.href='Group_Health/GroupHealthInsurance";
    }

    function LifeInsurance() {

        location.href = "location.href='Life_Insurance/LifeInsurance";
    }
</script>