@model List<Watson.Models.Employee>

@{
    ViewBag.Title = "EmployeeOverview";
}

<h2>Employee Overview</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Overview</title>
</head>
<body>
    @*Create a column for a dynmaic button using mapping characters?? to call spouse and dependent Overview)*@
    <table class="table">
        <tr>
            <th>User_id</th>
            <th>Employee Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Title</th>
            <th>Mailing Address</th>
            <th>City</th>
            <th>State</th>
        

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.User_id }) |
                    @Html.ActionLink("Detail", "Detail", new { id = item.User_id }) |
                    @Html.ActionLink("Insurance", "Insurance", new { id = item.User_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.User_id })
                </td>
            </tr>
        }

        </table>
        <div>
            <input type="button" onclick="location.href='api/Employee/EnrollmentSelection'" value="Enrollment Selection" class="btn btn-default" />
        </div>
    </body>
</html>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<script>
    
</script>