@using Watson.Models
@model List<Watson.Models.Employee>


@*@{
    ViewBag.Title = "EmployeeOverview";
}*@



<h2>Employee Overview</h2>
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Employee Overview</title>
</head>
<body>
    @*Create a column for a dynmaic button using image mapping?? to call SpouseAndDependentOverview)*@
    <table class="table">
        <tr>
            <th>Family Member Overview</th>
            <th>Employee_id</th>
            <th>Employee Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Title</th>
            <th>Mailing Address</th>
            <th>City</th>
            <th>State</th>
            <th>ZipCode</th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="#" onclick="return FamilyMemberOverview()" class="next round"></a>   @* Dynamic button (image mapping??) to redirect to spouse and dependent overview *@
                </td>
                <td>
                    @Html.DisplayForModel(item.Employee_id)
                </td>
                <td>
                    @Html.DisplayForModel(item.SSN)
                </td>
                <td>
                    @Html.DisplayForModel(item.FirstName)
                </td>
                <td>
                    @Html.DisplayForModel(item.LastName)
                </td>
                <td>
                    @Html.DisplayForModel(item.JobTitle)
                </td>
                <td>
                    @Html.DisplayForModel(item.MailingAddress)
                </td>
                <td>
                    @Html.DisplayForModel(item.City)
                </td>
                <td>
                    @Html.DisplayForModel(item.State)
                </td>
                <td>
                    @Html.DisplayForModel(item.ZipCode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Employee", new { id = item.Employee_id }) |
                    @Html.ActionLink("Detail", "Detail", "Employee", new { id = item.Employee_id }) |
                    @Html.ActionLink("Insurance", "EmployeeInsurance", "Employee", new { id = item.Employee_id }) |
                </td>
            </tr>
        }

    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" onclick= "return EnrollmentSelection()" value="Enrollment Selection" class="btn" />
        </div>
    </div>
</body>
</html>

@*<div>
    <a href="/Employee">Enrollment Selection</a> | @Html.ActionLink("Enrollment Selection", "EnrollmentSelection", new { id = ViewBag.Employee_id })
</div>*@

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    btn, a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    btn, a:hover {
        background-color: #555;
        color: black;
    }

    .next {
        background-color: #f2f2f2;
        color: white;
    }
</style>
