@model Watson.Models.Employee


@{
    @ViewBag.Title = "EmployeeEnrollment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Employee</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.User_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <hr />
            <button class="collapsible"><h4>Employee Enrollment</h4></button>
            <div class="content">
                @*<form action="/api/Employee/EmployeeEnrollment" method="post">*@
                    <div class="form-group">
                        <label for="User_id" class="col-md-2 control-label">User_id:</label>
                        <div class="col-md-10">
                            <input type="text" id="User_id" class="form-control" name="User_id" value=@Html.DisplayFor(Model => Model.User_id) />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CurrentEmployer" class="col-md-2 control-label">Current Employer:</label>
                        <div class="col-md-10">
                            <input type="text" id="CurrentEmployer" class="form-control" name="CurrentEmployer" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="JobTitle" class="col-md-2 control-label">Job Title:</label>
                        <div class="col-md-10">
                            <input type="text" id="JobTitle" class="form-control" name="JobTitle" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SSN" class="col-md-2 control-label">Employee Number:</label>
                        <div class="col-md-10">
                            <input type="number" id="SSN" class="form-control" name="SSN" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="FirstName" class="col-md-2 control-label">First Name:</label>
                        <div class="col-md-10">
                            <input type="text" id="FirstName" class="form-control" name="FirstName" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LastName" class="col-md-2 control-label">Last Name:</label>
                        <div class="col-md-10">
                            <input type="text" id="LastName" class="form-control" name="LastName" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DateOfBirth" class="col-md-2 control-label">Date of Birth:</label>
                        <div class="col-md-10">
                            <input type="date" id="DateOfBirth" class="form-control" name="DateOfBirth" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Gender:</label>
                        <div class="col-md-10">
                            <label class="radio-inline"><input type="radio" id="Male" class="radio-inline" name="Sex" value="Male" checked />Male</label>
                            <label class="radio-inline"><input type="radio" id="Female" class="radio-inline" name="Sex" value="Female" />Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MartialStatus" class="col-md-2 control-label">Marital Status:</label>
                        <div class="col-md-10">
                            <select name="MartialStatus" class="form-control">
                                <option id="MarriedwDep" name="MartialStatus" value="MarriedwDep">Married with Dependents</option>
                                <option id="Married" name="MartialStatus" value="Married">Married</option>
                                <option id="SinglewDep" name="MartialStatus" value="SinglewDep">Single with Dependents</option>
                                <option id="Single" name="MartialStatus" value="Single">Single</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<input type="submit" value="Save" onclick=" return EmployeeEnrollment()" class="btn btn-default" />*@
                            <button type="submit" onclick="EmployeeEnrollment()" id="EmployeeEnrollment" class="btn btn-outline-primary">Save</button>
                        </div>
                    </div>
                @*</form>*@
            </div>
        </div>

    }
    <div>
        <input type="button" onclick="location.href='api/Employee/EnrollmentSelection'" value="Previous" class="btn btn-outline-secondary" /> |
        <input type="button" onclick="location.href='api/Employee/Contact'" @*onclick="location.href='api/Employee/Contact'"*@ value="Continue" class="btn btn-outline-secondary" />
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.User_id }) |
        @Html.ActionLink("Back to Overview", "EmployeeOverview")
    </p>
</body>
</html>

<script>
    var col = document.getElementByClassName("collapsible");
    var i;

    for (var i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");

            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            }
            else
                content.style.display = "block"
        });
    }
</script>

<style>
    .collapsible {
        background-color: #333333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>

<script>
    //var Employee;

    function EmployeeEnrollment() {
        //Employee = data;
        
        User_id = document.getElementById("User_id").value;
        CurrentEmployer = document.getElementById("CurrentEmployer").value;
        JobTitle = document.getElementById("JobTitle").value;
        EmployeeNumber = document.getElementById("SSN").value;
        FirstName = document.getElementById("FirstName").value;
        LastName = document.getElementById("LastName").value;
        DateOfBirth = document.getElementById("DateOfBirth").value;
        Gender = document.getElementsByName("Sex").value;
        MartialStatus = document.getElementsByName("MartialStatus").value;

        //User_id = document.getElementById("User_id").value = data.User_id;
        //CurrentEmployer = document.getElementById("CurrentEmployer").value = data.CurrentEmployer;
        //JobTitle = document.getElementById("JobTitle").value = data.JobTitle;
        //EmployeeNumber = document.getElementById("SSN").value = data.SSN;
        //FirstName = document.getElementById("FirstName").value = data.FirstName;
        //LastName = document.getElementById("LastName").value = data.LastName;
        //DateOfBirth = document.getElementById("DateOfBirth").value = data.DateOfBirth;
        //Gender = document.getElementsByName("Sex").value = data.Sex;
        //MartialStatus = document.getElementsByName("MartialStatus").value = data.MartialStatus;


        postData('/Employee/EmployeeEnrollment', {
            User_id: User_id, CurrentEmployer: CurrentEmployer, JobTitle: JobTitle, EmployeeNumber: EmployeeNumber, FirstName: FirstName,
            LastName: LastName, DateOfBirth: DateOfBirth, Gender: Gender, MartialStatus: MartialStatus
        })
            .then(data => EmployeeEnrollment(data))
            .catch(error => console.error(error))
    }

    function postData(url, data) {
        //Default options are marked with *
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'cors', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        })
            .then(Response => Response.json()) //parses response to JSON
    }
</script>

@*<body> EXAMPLE
    This is a post.  It will actually take you to another page<br />
    <div>
        <form method="post" action="/postUser">
            <label for="firstname">First Name: </label><input type="text" name="firstname" /><br />
            <label for="lastname">Last Name: </label><input type="text" name="lastname" /><br />
            <label for="age">Age: </label><input type="number" name="age" /><br />
            <input type="submit" /><br />
        </form>
    </div>
    <div>
        This is not a post.  This uses Javascript to post the data behind the scenes<br />
        <label for="fname">First Name: </label><input type="text" name="fname" id="fname" /><br />
        <label for="lname">Last Name: </label><input type="text" name="lname" id="lname" /><br />
        <label for="a">Age: </label><input type="number" name="a" id="a" /><br />
        <button onclick="submitUser();">Submit</button><br />
    </div>
</body>*@
