@model Watson.Models.Employee


@{
    @ViewBag.Title = "EnrollmentSelection";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enrollment Selection Page</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Employee_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form action="EnrollmentSelection()" method="get">
            <div class="form-horizontal">
                <hr />
                <button class="collaspible"><h4>Employee Enrollment</h4></button>
                <div class="content">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button onclick="EmployeeEnrollment()" id="EmployeeEnrollment" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <hr />
                <button class="collaspible"><h4>Group Health Enrollment</h4></button>
                <div class="content">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button onclick="GroupHealthEnrollment()" id="GroupHealthEnrollment" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <hr />
                <button class="collaspible"><h4>Life Insurance Enrollment</h4></button>
                <div class="content">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button onclick="LifeInsuranceEnrollment()" id="LifeInsuranceEnrollment" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</body>
</html>
<p>
    @Html.ActionLink("Back to HomePage", "EmployeeOverview", new { id = Model.Employee_id })
</p>
<p>
    <a href="location.href='Employee/EmployeeOverview'">Employee Overview Page</a>"'
</p>

<script>
    var col = document.getElementByClassName("collapsible");
    var i;

    for (var i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");

            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            }
            else
                content.style.display = "block"
        });
    }
</script>


<style>
    .collapsible {
        background-color: #333333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
        background-color: #555;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    .previous {
        background-color: #2e4593;
        color: black;
    }

    .btn {
        background-color: #2e4593;
        color: white;
    }
</style>