@model Watson.Models.Employee


@{
    @ViewBag.Title = "EnrollmentSelection";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enrollment Selection Page</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Employee_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form action="EnrollmentSelection();" method="get">
            <div class="form-horizontal">
                <hr />
                <button><h4>Employee Enrollment</h4></button>
                <div class="content">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button onclick="EmployeeEnrollment()" id="EmployeeEnrollment" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <hr />
                <button><h4>Group Health Enrollment</h4></button>
                <div class="content">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button onclick="location.href='Employee/GroupHealthEnrollment'" id="GroupHealthEnrollment" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <hr />
                <button><h4>Life Insurance Enrollment</h4></button>
                <div class="content">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button onclick="location.href='Employee/LifeInsuranceEnrollment'" id="LifeInsuranceEnrollment" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</body>
</html>
<p>
    @Html.ActionLink("Back to HomePage", "EmployeeOverview", new { id = Model.Employee_id })
</p>


