@model Watson.Models.Employee


@{
    @ViewBag.Title = "EnrollmentSelection";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enrollment Selection Page</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.User_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <hr />
            <button><h4>Employee Enrollment</h4></button>
            <div class="content">
                @*<form action="/api/Employee/EnrollmentSelection" method="post">*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" @*value="Save"*@ onclick="return EmployeeEnrollment()" class="btn btn-default" />
                        </div>
                    </div>
                @*</form>*@
            </div>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.User_id }) |*@
            @Html.ActionLink("Back to Employee Overview", "GetEmployee", new { id = Model.User_id })
        </p>

        @*Group Health Enrollment*@
        <div class="form-horizontal">
            <hr />
            <button><h4>Group Health Enrollment</h4></button>
            <div class="content">
                @*<form action="/api/Employee/GroupHealthEnrollment" method="post">*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" @*value="Save"*@ onclick="return GroupHealthEnrollment()" id="submit" class="btn btn-default" />
                        </div>
                    </div>
                @*</form>*@
            </div>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.User_id }) |*@
            @Html.ActionLink("Back to Employee Overview", "GetEmployee", new { id = Model.User_id })
        </p>

        @*Life Insurance Enrollment*@
        <div class="form-horizontal">
            <hr />
            <button><h4>Life Insurance Enrollment</h4></button>
            <div class="content">
                @*<form action="/api/Employee/LifeInsuranceEnrollment" method="post">*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" @*value="Save"*@ onclick="return LifeInsuranceEnrollment()" id="submit" class="btn btn-default" />
                        </div>
                    </div>
                @*</form>*@
            </div>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.User_id }) |*@
            @Html.ActionLink("Back to Overview", "EmployeeOverview", new { id = Model.User_id })
        </p>
    }
</body>
</html>
