@model List<Watson.Models.Family_Info>
@{
    ViewBag.Title = "FamilyEnrollment";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Family Member Enrollment</title>
</head>
<body>
    <div class="container">
        <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" value="@ViewBag.Employee_id" />
        <input type="hidden" id="MaritalStatus" class="form-control" name="MaritalStatus" value="@ViewBag.MaritalStatus" />
        <h3>Family Member Selection</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div id="SpouseEnrollment">
                            <button type="button" class="button" onclick="return SpouseEnrollment(@ViewBag.Employee_id)">Spouse</button>
                            @if (ViewBag.spouseExist == true)
                            {
                                
                            }
                            else
                            {
                                
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="DependentEnrollment">
                            <button type="button" class="button" onclick="return DependentEnrollment(@ViewBag.Employee_id)">Dependent</button>
                            @if (ViewBag.spouseExist == false)
                            {

                            }
                            else
                            {

                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        @Html.ActionLink("Back to Family Overview", "FamilyOverview", "Employee", new { Employee_id = ViewBag.Employee_id }, null)
    </p>
</body>
</html>

<style>
    .button {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .button:hover {
            background-color: blue;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    a {
        text-decoration: none;
        display: inline-flex;
        padding: 8px 8px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    div {
        text-align: center;
    }
</style>
<script>

    document.addEventListener("DOMContentLoaded", function () {

        var maritalStatus = document.getElementById("MaritalStatus").value;
        var spouse = document.getElementById("SpouseEnrollment");
        var dependent = document.getElementById("DependentEnrollment");

        if (maritalStatus.value == "Single")
        {
            spouse.style.display = 'hidden';
            dependent.style.display = 'hidden';
        }
        if (maritalStatus.value == "SinglewDep")
        {
            spouse.style.display = 'hidden';
            dependent.style.display = 'visible';
        }
        if (maritalStatus.value == "Married")
        {
            spouse.style.display = 'visible';
            dependent.style.display = 'hidden';
        }
        if (maritalStatus.value == "MarriedwDep")
        {
            spouse.style.display = 'visible';
            dependent.style.display = 'visible';
        }
    })

    function SpouseEnrollment() {

        window.location.href = "/Employee/SpEnrollment?Employee_id=@ViewBag.Employee_id"
    }

    function DependentEnrollment() {


        window.location.href = "/Employee/DepEnrollment?Employee_id=@ViewBag.Employee_id"
    }



</script>


