@{
    ViewBag.Title = "FamilyOverview";
}
@model List<Watson.Models.Family_Info>
<h2>Family Member Overview</h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>Family Member Overview</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>Insurance Overview</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Relation To Employee</th>
            <th>Employee Number</th>
            <th>Employee Last Name</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="#" onclick="return EmpInsurance()" class="next round"></a>   @* Character map for Insurance(create a collaspible button for Life and Group Health to view onclick) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelationshipToInsured)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.SSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @Html.ActionLink("Edit Spouse", "EditSp", "Family_Info", new { id = item.FamilyMember_id }) |
                    @Html.ActionLink("Edit Dependent", "EditDep", "Family_Info", new { id = item.FamilyMember_id }) |
                    @Html.ActionLink("Spouse Detail", "SpDetail", "Family_Info", new { id = item.FamilyMember_id }) |
                    @Html.ActionLink("Dependent Detail", "DepDetail", "Family_Info", new { id = item.FamilyMember_id }) |
                </td>
            </tr>
        }

    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" onclick="return FamilyEnrollment()" value="Family Enrollment" class="btn" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to Employee Overview", "EmpOverview")
    </p>
</body>
</html>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    .btn, a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        .btn, a:hover {
            background-color: #ddd;
            color: black;
        }

    .next {
        background-color: #2e4593;
        color: white;
    }

    .round {
        border-radius: 50%;
    }
</style>

<script>
    function EmpInsurance() {

        location.href = "/Employee/EmpInsurance";
    }

    function FamilyEnrollment() {

        location.href = "/Employee/FamilyEnrollment";
    }

</script>




