
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Insurance Overview</title>
</head>
<body>
    <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" value="@ViewBag.Employee_id" />
    <div class="container">
        <h3>Insurance Overview</h3>
        <div id="EnrollmentSelection">
            <table class="table-bordered" align="center">
                <tr>
                    <td>
                        <div id="NewEmployeeEnrollment">
                            <button type="button" class="button" onclick="return GroupHealthInsurance(@ViewBag.Employee_id)">Group Health Insurance</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="FamilyEnrollment">
                            <button type="button" class="button" onclick="return AuthorizationForm(@ViewBag.Employee_id)">Authorization Form</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="GroupHealthEnrollment">
                            <button type="button" class="button" onclick="return SalaryRedirectAgreement(@ViewBag.Employee_id)">Salary Redirection Agreement</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="LifeInsuranceEnrollment">
                            <button type="button" class="button" onclick="return LifeInsurance(@ViewBag.Employee_id)">Life Insurance</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to Employee Overview", "EmpOverview", new { Employee_id = ViewBag.Employee_id }, null)
    </p>
</body>
</html>

<style>
    .button, hidden {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .button:hover {
            background-color: blue;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    a {
        text-decoration: none;
        display: inline-flex;
        padding: 8px 8px;
    }

    table {
        border-collapse: collapse;
        width: 75%;
    }

    div {
        text-align: center;
    }
</style>

<script>
    function GroupHealthInsurance() {

        window.location.href = "/Group_Health/GrpHealthEnrollment?Employee_id=" + Employee_id;
    }

    function AuthorizationForm() {

        window.location.href = " /Group_Health/AuthorizationForm?Employee_id=" + Employee_id;
    }

    function SalaryRedirectAgreement() {

        window.location.href = " /Group_Health/SalaryRedirectAgreement?Employee_id=" + Employee_id;
    }

    function LifeInsurance() {

        window.location.href = " /Life_Insurance/LifeInsuranceEnrollment?Employee_id=" + Employee_id;
    }
</script>