@model List<Watson.Models.Employee>

@{ 
    ViewBag.Title = "GetEmployees";
}

<h2>Company Employee List</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Overview</title>
</head>
<body> @*Need to create dynamic arrow button next to employee that goes to Spouse & Dep detail page*@
    <table class="table">
        <tr>
            <th>Family Member Overview</th>
            <th>Employee #</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Job Title</th>
            <th>Active</th>
            <th>Hire Date</th>
            <th>Email Address</th>
            <th>Mailing Address</th>
            <th>City</th>
            <th>State</th>
            <th>ZipCode</th>
            @*<th>Mailing Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>*@

            @foreach (var item in Model)
            {
<tr>
            <td>
                <a href="#" onclick="FamilyMemberOverview()" class="next round">&#8250;</a>   @* Dynamic button (image mapping??) to redirect to spouse and dependent overview *@
                
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmployeeRole)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>

            <td>
                @item.HireDate.ToShortDateString()
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MailingAddress)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Employee_id }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.Employee_id }) |
                @Html.ActionLink("Insurance", "Insurance", new { id = item.Employee_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Employee_id })

            </td>
        </tr>
        }

    </table>
    <div>
        <input type="button" onclick="location.href='api/Employee/EmployeeEnrollment'" value="Create Employee" class="next" />
    </div>
</body>
</html>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    .next {
        background-color: #2d499c;
        color: white;
    }
</style>